@charset 'UTF-8';

/*=========================================================
1. 폰트
=========================================================*/

/* 본고딕 */
@font-face {
	font-family: "Noto Sans KR";
	font-weight: normal;
	src: url("../fonts/notokr-regular.eot");
	src: local("※"), 
	url("../fonts/notokr-regular.woff2") format("woff2"), 
	url("../fonts/notokr-regular.woff") format("woff");
}

@font-face {
	font-family: "Noto Sans KR";
	font-weight: 500;
	src: url("../fonts/notokr-medium.eot");
	src: local("※"), 
	url("../fonts/notokr-medium.woff2") format("woff2"), 
	url("../fonts/notokr-medium.woff") format("woff");
}

@font-face {
	font-family: "Noto Sans KR";
	font-weight: 700;
	src: url("../fonts/notokr-bold.eot");
	src: local("※"), 
	url("../fonts/notokr-bold.woff2") format("woff2"), 
	url("../fonts/notokr-bold.woff") format("woff");
}

@font-face {
	font-family: "Noto Sans KR";
	font-weight: 900;
	src: url("../fonts/notokr-black.eot");
	src: local("※"), 
	url("../fonts/notokr-black.woff2") format("woff2"), 
	url("../fonts/notokr-black.woff") format("woff");
}

/*=========================================================
2. 리셋
=========================================================*/

html {font-size:1em; letter-spacing:-0.025em;}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video,button {box-sizing:border-box; margin:0; padding:0; border:0; font-family:"Noto Sans KR",Dotum,"돋움",Helvetica,"Apple SD Gothic Neo",sans-serif; font-size:100%; vertical-align:baseline;}

input[type="text"],input[type="email"],input[type="number"],input[type="submit"],input[type="reset"],input[type="tel"],input[type="password"],input[type="url"],input[type="search"],input[type="file"],button,textarea {box-sizing:border-box; margin:0; padding:0; border:none; border-radius:0; background:none; font-family:"Noto Sans KR",Dotum,"돋움",Helvetica,"Apple SD Gothic Neo",sans-serif; font-size:100%; letter-spacing:-0.04em; appearance:none;}
body {position:relative; background:#fff; font-size:14px; line-height:1.8; color:#333; word-wrap:break-word; word-break:keep-all; -webkit-text-size-adjust:none; -moz-text-size-adjust:none;}
blockquote,q {quotes:none;}
/* input:focus,button:focus {border:none;} */
table {width:100%; background:#fff; table-layout:fixed; border-spacing:0; border-collapse:collapse;}
ul,ol,li {list-style:none;}
a {color:#333; text-decoration:none;}
button::-moz-focus-inner {margin-top:-2px; margin-bottom:-2px; padding:0; border:0;}
input::-moz-focus-inner {margin-top:-2px; margin-bottom:-2px; padding:0; border:0;}
img {max-width:100%; height:auto;}
button {cursor:pointer; background:transparent;}
button span {position:relative;}
textarea {resize:none;}
textarea:focus {outline:none;}
em,address,i {font-style:normal;}
:focus {outline:none;}
:invalid {box-shadow:none;}
:-moz-submit-invalid {box-shadow:none;}
:-moz-ui-invalid {box-shadow:none;}
label {cursor:pointer;}

/* PC, 모바일 제어 */
.pc {display:block !important;}
.mobile {display:none !important;}

@media (max-width:1024px) {
	.pc {display:none !important;}
	.mobile {display:block !important;}
}

/* Hidden */
.hidden {overflow:hidden; clip:rect(0 0 0 0); position:absolute; width:1px; height:1px; margin:-1px; padding:0; border:0;}

/* Placeholder */
::-webkit-input-placeholder {font-weight:400; color:#ccc;}
::-moz-placeholder {font-weight:400; color:#ccc;}
:-ms-input-placeholder {font-weight:400; color:#ccc;}
:-moz-placeholder {font-weight:400; color:#ccc;}

/* 워드프레스 테마 리셋 */
html {-webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale;}
#buffer-extension-hover-button,.entry-footer,.skip-link,.post-edit-link,.screen-reader-text,.dropdown-toggle,.site-header svg,.menu-toggle,.submenu-expand,.mobile-parent-nav-menu-item,.main-menu-more {display:none !important;}
 
@media (max-width:599px) {
    #wpadminbar {position:fixed !important; top:0; left:0; z-index:1000;}
}

/*=========================================================
3. 공통 레이아웃
=========================================================*/

.container {position:relative; max-width:1260px; margin:0 auto; padding:0 30px;}
.container.wide {max-width:1400px; padding:0;}
.content {padding-top:150px;}
.move_top {visibility:hidden; position:fixed; right:30px; bottom:100px; z-index:7; transition:all 0.3s; opacity:0;}
.move_top.on {visibility:visible; bottom:110px; opacity:1;}
.move_top button {position:relative; width:30px; height:30px; border:1px solid #ca0464; background:#fff; line-height:1; text-align:center; text-indent:-9999px; transition:all 0.3s;}
.move_top button:hover {background:#ca0464;}
.move_top button:before {position:absolute; top:5px; left:50%; width:0; height:0; margin-left:-6px; border-width:6px; border-style:solid; border-color:transparent transparent #ca0464 transparent; background:none; transition:all 0.3s; content:"";}
.move_top button:hover:before {border-bottom-color:#fff;}

.ie9 {display:table; position:fixed; bottom:0; left:0; z-index:999; width:100%; min-height:100px; padding:5px 60px; background:#000;; font-size:14px; line-height:2em; color:#fff; text-align:center;}
.ie9 .inner {display:table-cell; vertical-align:middle;}
.ie9 .inner a {font-size:16px; font-weight:700; color:#fff;}
.ie9 button {overflow:hidden; position:absolute; top:20px; right:20px; width:30px; height:30px; background:url(../img/sprite/sprite.png); background-position:-10px -258px; text-indent:-9999px;}

@media (max-width:1024px) {
	
}

@media (max-width:599px) {
	.container {padding:0 15px;}
	.move_top {right:15px; bottom:50px;}
	.move_top.on {bottom:60px;}
}

/* 입력폼 */
input[type="text"],input[type="email"],input[type="number"],input[type="tel"],input[type="password"],input[type="url"],input[type="search"],input[type="file"],textarea {box-sizing:border-box; height:40px; margin:0; padding:0 15px; border:1px solid #e8e5e2; border-radius:0; background:#fff; font-family:inherit; font-size:14px; line-height:40px; color:#666; -webkit-appearance:none; -moz-appearance:none; -ms-appearance:none; -o-appearance:none;}
textarea {line-height:1.5em;}

/* 라디오버튼 */
.radio_form {margin:3px 0;}
.radio_form ul {margin:-3px 0; font-size:0;}
.radio_form ul > li {float:left; margin:3px 0; line-height:1;}
.radio_form input[type="radio"] {width:0; height:0; margin:0; padding:0; font-size:0; line-height:0; opacity:0;}
.radio_form ul:after,
.radio_form ul > li:after {display:block; clear:both; content:"";}
.radio_form input[type="radio"] + label {float:left; position:relative; margin-right:15px; padding-left:27px; font-size:14px; font-weight:500; line-height:26px; color:#333; cursor:pointer;}
.radio_form ul > li:last-child input[type="radio"] + label {margin-right:0;}
.radio_form input[type="radio"] + label:before {display:inline-block; position:absolute; top:50%; left:2px; -webkit-box-sizing:border-box; box-sizing:border-box; width:22px; height:22px; margin-top:-11px; border:1px solid #dedede; border-radius:50%; background:#fff; content:"";}
.radio_form input[type="radio"]:checked + label:after {display:inline-block; position:absolute; top:50%; left:9px; width:8px; height:8px; margin-top:-4px; border-radius:50%; background:#ca0464; content:"";}

/* 셀렉트박스 */
.select_form {display:inline-block; position:relative; background:#fff; font-size:14px; text-align:left;}
.select_form button {display:block; overflow:hidden; position:relative; width:100%; min-width:170px; padding:0 15px; padding-right:35px; border:1px solid #e8e5e2; background:#fff; line-height:38px; text-align:left; text-overflow:ellipsis; white-space:nowrap;}
.select_form button:after {position:absolute; top:50%; right:15px; width:6px; height:6px; margin-top:-6px; border-right:2px solid #353535; border-bottom:2px solid #353535; transform:rotate(45deg); transition:all 0.2s; content:"";}
.select_form button.on:after {margin-top:-2px; transform:rotate(225deg);}
.select_form ul {visibility:hidden; overflow:hidden; position:absolute; width:100%; height:0; padding:5px 15px; border:1px solid #dfdfdf; border-top:0; transition:opacity 0.1s; opacity:0;}
.select_form button.on + ul {visibility:visible; overflow-y:auto; z-index:1; height:auto; max-height:300px; background:#fff; opacity:1;}
.select_form ul li a {display:block; padding:3px 0; line-height:1.3em; color:#555; transition:all 0.3s;}
.select_form ul li a:hover {font-weight:700; color:#a88f62; text-decoration:underline;}

@media (max-width:320px) {
    .select_form button {padding-left:10px; padding-right:25px;}
	.select_form button:after {right:10px;}
	.select_form button.on + ul {max-height:200px;}
}

/*=========================================================
4. Slick
=========================================================*/

.slick-slider{display:block;position:relative;box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}.slick-list{display:block;overflow:hidden;position:relative;margin:0;padding:0}.slick-list:focus{outline:0}.slick-list.dragging{cursor:pointer;cursor:hand}.slick-slider .slick-list,.slick-slider .slick-track{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.slick-track{display:block;position:relative;top:0;left:0;margin-right:auto;margin-left:auto}.slick-track:after,.slick-track:before{display:table;content:""}.slick-track:after{clear:both}.slick-loading .slick-track{visibility:hidden}.slick-slide{display:none;float:left;height:100%;min-height:1px}[dir=rtl] .slick-slide{float:right}.slick-slide img{display:block}.slick-slide.slick-loading img{display:none}.slick-slide.dragging img{pointer-events:none}.slick-initialized .slick-slide{display:block}.slick-loading .slick-slide{visibility:hidden}.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}.slick-arrow.slick-hidden{display:none}

/*=========================================================
5. 헤더
=========================================================*/

header {position:fixed; top:0; left:0; width:100%; height:150px;}
nav {display:none;}

/* 워드프레스 관리자 헤더 커스터마이징 */
.admin-bar header {top:32px;}

@media (max-width:1024px) {
	.admin-bar header .menu_wrap {top:32px;}
	.admin-bar header .top_menu {bottom:47px;}
}

@media (max-width:782px) {
	.admin-bar header {top:46px;}
	.admin-bar header .menu_wrap {top:46px;}
	.admin-bar header .top_menu {bottom:61px;}
}

/*=========================================================
6. 푸터
=========================================================*/

footer {}
footer .bottom_wrap {background:#a88f62; padding:7px 0;}
footer .bottom_wrap:after {display:block; clear:both; content:"";}
footer .bottom_wrap .bottom_list {overflow:hidden; float:left; margin:0 -20px; padding:7px 0;}
footer .bottom_wrap .bottom_list li {float:left; position:relative; padding:0 20px;}
footer .bottom_wrap .bottom_list li:after {position:absolute; top:50%; right:0; width:1px; height:14px; margin-top:-9px; background:#fff; opacity:0.4; content:"";}
footer .bottom_wrap .bottom_list li:last-child:after {display:none;}
footer .bottom_wrap .bottom_list li a {display:block; font-size:14px; line-height:1.5em; color:#fff; transition:all 0.3s;}
footer .bottom_wrap .bottom_list li a:hover {color:#71542a;}
footer .bottom_wrap .bottom_list li.personal a {font-weight:700; color:#71542a;}
footer .bottom_wrap .link {float:right;}
footer .bottom_wrap .link .select_form {background:none;}
footer .bottom_wrap .link .select_form button {background:none; line-height:34px; color:#fff;}
footer .bottom_wrap .link .select_form button:after {border-color:#fff;}
footer .bottom_wrap .link .select_form ul {bottom:35px; border-top:1px solid #dfdfdf;}
footer .footer_wrap {padding:20px 0;}
footer .footer_wrap img {float:left; height:40px; margin-top:5px; margin-right:70px;}
footer .footer_wrap .info {overflow:hidden; line-height:2em; font-size:12px;}
footer .footer_wrap .info dl {overflow:hidden; color:#ac8e63; margin-left:-20px;}
footer .footer_wrap .info dl > div {display:inline-block; position:relative; padding:0 20px;}
footer .footer_wrap .info dl > div:after {position:absolute; top:50%; right:0; width:1px; height:12px; margin-top:-7px; background:#ded2c1; opacity:0.4; content:"";}
footer .footer_wrap .info dl > div:last-child:after {display:none;}
footer .footer_wrap .info dt,
footer .footer_wrap .info dd {display:inline-block;}
footer .footer_wrap .info dt {font-weight:700;} 
footer .footer_wrap .info dt:after {content:":"; padding:0 0.5em;}
footer .footer_wrap .info dd a {color:inherit;}
footer .footer_wrap .info .copyright {color:#ccc;}

@media (max-width:1024px) {
	footer {text-align:center;}
	footer .footer_wrap {padding:15px 0;}
	footer .bottom_wrap .bottom_list {float:none;}
	footer .bottom_wrap .bottom_list li {display:inline-block; float:none;}
	footer .bottom_wrap .link {float:none;}
	footer .footer_wrap img {margin-right:30px;}
	footer .footer_wrap .info {line-height:1.75em;}
	footer .footer_wrap .info dl {margin-left:-10px;}
	footer .footer_wrap .info dl > div {padding:0 10px;}
	footer .footer_wrap .info .copyright {font-size:10px; line-height:1.5em;}
}

@media (max-width:599px) {
	footer .bottom_wrap .bottom_list {margin:0 -10px; padding:10px 0;}
	footer .bottom_wrap .bottom_list li {padding:0 10px;}
	footer .bottom_wrap .link .select_form {width:100%; margin:5px 0;}
	footer .footer_wrap img {display:block; float:none; margin:0 auto; margin-bottom:15px;}
	footer .footer_wrap .info {line-height:1.5em;}
	footer .footer_wrap .info dl > div:after {display:none;}
}

/*=========================================================
7. 모달, 로딩
=========================================================*/

/*=========================================================
8. 메인 페이지 스타일
=========================================================*/

/*=========================================================
9. 서브 페이지 스타일
=========================================================*/

/* 공통 */
[data-sub-content] {padding:45px 0 100px;}

@media (max-width:1024px) {
	[data-sub-content] {padding:30px 0 50px;}
}

/* 타이틀 */
[data-sub-title] {padding-bottom:50px; text-align:center;}
[data-sub-title] .tit {position:relative; padding-bottom:15px; font-size:50px; font-weight:500; line-height:1.2em;}
[data-sub-title] .tit:after {position:absolute; bottom:0; left:50%; width:20px; height:8px; margin-left:-10px; background:#ca0464; content:"";}
[data-sub-title] .txt {margin-top:20px; font-size:18px; line-height:1.5em; color:#666;}

@media (max-width:1024px) {
	[data-sub-title] {padding-bottom:30px;}
	[data-sub-title] .tit {padding-bottom:10px; font-size:32px;}
	[data-sub-title] .tit:after {height:4px;}
	[data-sub-title] .txt {margin-top:15px; font-size:14px;}
}

@media (max-width:599px) {
	[data-sub-title] .tit {font-size:24px;}
	[data-sub-title] .tit:after {height:2px;}
	[data-sub-title] .txt {font-size:12px;}
	[data-sub-title] .txt br {display:none;}
}

/* 탭메뉴 */
[data-tab-menu] {margin-bottom:50px;}
[data-tab-menu] ul:after {display:block; clear:both; content:"";}
[data-tab-menu] ul li {float:left; position:relative;}
[data-tab-menu] ul li:after {position:absolute; top:0; right:0; width:1px; height:100%; background:#fff; content:"";}
[data-tab-menu] ul li:last-child:after {display:none;}
[data-tab-menu] .type1 li {width:100%;}
[data-tab-menu] .type2 li {width:50%;}
[data-tab-menu] .type3 li {width:33.33%;}
[data-tab-menu] .type4 li {width:25%;}
[data-tab-menu] .type5 li {width:20%;}
[data-tab-menu] .type6 li {width:16.66%;}
[data-tab-menu] ul li:last-child {border-right:0;}
[data-tab-menu] ul li a {display:table; position:relative; width:100%; height:60px; background:#efefef; font-size:16px; font-weight:500; line-height:1.5em; text-align:center; transition:all 0.3s;}
[data-tab-menu] ul li.on a,
[data-tab-menu] ul li a:hover {background:#fff; color:#a88f62;}
[data-tab-menu] ul li a:before {position:absolute; top:0; left:0; width:100%; height:4px; background:#a88f62; transition:all 0.3s; opacity:0; content:"";}
[data-tab-menu] ul li.on a:before,
[data-tab-menu] ul li a:hover:before {transform-origin:right; opacity:1;}
[data-tab-menu] ul li a span {display:table-cell; vertical-align:middle;}

@media (max-width:1024px) {
	[data-tab-menu] {margin-bottom:30px;}
	[data-tab-menu] ul li {width:50% !important; border-bottom:1px solid #fff;}
	[data-tab-menu] ul li a {height:2.5em; font-size:14px;}
	[data-tab-menu] ul li a:before {height:2px;}
}

@media (max-width:599px) {
	[data-tab-menu] ul li {width:100% !important;}
	[data-tab-menu] ul li a {font-size:12px;}
	[data-tab-menu] ul li a:before {height:1px;}
}

/* 검색창 */
[data-board-misc] {margin-bottom:30px;}
[data-board-misc]:after {display:block; clear:both; content:"";}
[data-board-misc] .status {font-size:16px; line-height:40px;}
[data-board-misc] .status span {font-weight:500; color:#ca0464;}
[data-board-misc] [data-search-box] {float:right; font-size:0;}
[data-search-box] .search_wrap {display:inline-block; width:240px; margin-left:10px;}
[data-search-box] .search_wrap input[type="text"] {width:calc(100% - 40px); border-right:0;}
[data-search-box] .search_wrap button {position:relative; width:40px; height:40px; background:#a88f62; text-indent:-9999px; vertical-align:top;}
[data-search-box] .search_wrap button:before,
[data-search-box] .search_wrap button:after {content:""; position:absolute;}
[data-search-box] .search_wrap button:before {width:2px; height:6px; background:#fff; transform:rotate(-45deg); left:24px; top:22px;}
[data-search-box] .search_wrap button:after {width:8px; height:8px; border-radius:50%; border:2px solid #fff; background:#a88f62; left:13px; top:13px;}

@media (max-width:1024px) {
	[data-board-misc] [data-search-box] {float:none; text-align:center;}
	[data-board-misc] .status {font-size:14px;} 
}

@media (max-width:599px) {
	[data-search-box] .select_form,
	[data-search-box] .search_wrap {width:100%; margin:0; margin-top:10px;}
	[data-board-misc] .status {font-size:12px; line-height:1.5em; margin-top:10px;} 
}

/* 제어 버튼 */
[data-btn] {display:inline-block; position:relative; min-width:115px; margin:0 5px; padding:0 10px; border:0; border-radius:0; background:#333; font-size:16px; font-weight:700; line-height:45px; color:#fff; text-align:center; white-space:nowrap;}
[data-btn].wide {min-width:240px;}
[data-btn].full {min-width:100%; margin:0;}
[data-btn][type="submit"],
[data-btn].confirm,
[data-btn].login {background:#ca0464;}
[data-btn].naver {background:#33bd00;}
[data-btn].kakao {background:#feed00; color:#381f20;}
[data-btn].facebook {background:#47559b;}
[data-btn].sns:before {position:absolute; top:50%; left:13px; transform:translateY(-50%); content:""; background:red;}
[data-btn].naver:before {width:20px; height:18px;}
[data-btn].kakao:before {width:22px; height:20px;}
[data-btn].facebook:before {width:11px; height:20px; margin-left:5px;}
[data-ctr-btn] {margin-top:30px; font-size:0; text-align:center;}
[data-ctr-btn].right {text-align:right;}
[data-ctr-btn] [data-btn]:only-child {margin:0;}

@media (max-width:1024px) {
	[data-btn] {font-size:14px; line-height:40px;}
	[data-ctr-btn] {text-align:center !important;}
}

@media (max-width:599px) {
	[data-btn].wide {min-width:100%; margin:0;}
}

/* 게시판(일반) 리스트 */
[data-board-list]:after {display:block; clear:both; content:"";}
[data-board-list] table {border-top:3px solid #333;}
[data-board-list] table th,
[data-board-list] table td {padding:10px 20px; border-bottom:1px solid #cdcdcd; font-size:16px; line-height:1.5em; text-align:center; vertical-align:middle; color:#666;}
[data-board-list] table th {height:60px; color:#333;}
[data-board-list] table td {height:80px;}
[data-board-list] table td[data-type="num"] {font-weight:500;}
[data-board-list] table td[data-type="title"] {text-align:left; font-weight:700;}
[data-board-list] table td[data-type="title"] .cate {color:#a88f62;}
[data-board-list] table td[data-type="title"] .tit {display:inline; color:#333; transition:all 0.3s;}
[data-board-list] table td[data-type="title"] a:hover .tit {color:#ca0464;}
[data-board-list] table td[data-type="title"] .secret {display:inline-block; width:20px; height:27px; background:red; text-indent:-9999px;}
[data-board-list] table td[data-type="status"] span {display:inline-block; width:90px; border:1px solid #999; font-size:14px; font-weight:500; line-height:40px; color:#999; text-align:center;}
[data-board-list] table td[data-type="status"] span.on {border-color:#ca0464; color:#ca0464;}
[data-board-list] [data-ctr-btn] {margin-top:25px;}
[data-board-list] [data-ctr-btn] [data-btn] {float:right;}

@media (max-width:1024px) {
	[data-board-list] table,
	[data-board-list] table thead,
	[data-board-list] table tbody,
	[data-board-list] table tr,
	[data-board-list] table th,
	[data-board-list] table td {display:block; float:left; clear:both; width:100%; text-align:left;}
	[data-board-list] table thead {overflow:hidden; position:absolute; left:-9999px; width:1px; height:1px;}
	[data-board-list] table tr {padding:5px 0; border-bottom:1px solid #cdcdcd;}
	[data-board-list] table td {font-size:14px; height:auto; padding:5px 0; border:0;}
	[data-board-list] table td[data-type="num"] {font-weight:700;}
	[data-board-list] table td[data-type="title"] {font-weight:500;}
	[data-board-list] table td[data-type="title"] .secret {transform:scale(0.75); transform-origin:left top;}
	[data-board-list] table td[data-type="status"] span {width:auto; margin-top:5px; padding:0 10px; font-size:12px; line-height:2em;}
}

@media (max-width:599px) {
	[data-board-list] table td {padding:3px 0;}
	/* [data-board-list] table td[data-type="title"] {font-size:12px;} */
}

/* 페이징 */
[data-paging] {overflow:hidden; clear:both; padding-top:50px;}
[data-paging] ul {margin:-2px -2px; font-size:0; line-height:0; text-align:center;}
[data-paging] ul li {display:inline-block; padding:2px 2px; vertical-align:middle;}
[data-paging] ul li .item {display:block; width:40px; height:40px; padding:10px 1px; border:solid 1px #e8e5e2; font-size:14px; line-height:1.3em; color:#555; text-align:center; transition:all 0.3s;}
[data-paging] ul li .item:hover {border-color:#666; font-weight:500;}
[data-paging] ul li.active .item {border-color:#666; background:#666; font-weight:500; color:#fff;}
[data-paging] ul .prev {padding-right:28px;}
[data-paging] ul .next {padding-left:28px;}
[data-paging] ul .btn .item {position:relative; text-indent:-9999px;}
[data-paging] ul .btn .item:before,
[data-paging] ul .btn .item:after {position:absolute; top:14px; left:16px; width:8px; height:8px; border:1px solid #555; transform:rotate(45deg); content:"";}
[data-paging] ul .first .item:before,
[data-paging] ul .first .item:after,
[data-paging] ul .prev .item:before,
[data-paging] ul .prev .item:after {border-top:0; border-right:0;}
[data-paging] ul .first .item:before {left:15px;}
[data-paging] ul .first .item:after {left:21px;}
[data-paging] ul .prev .item:before {left:18px;}
[data-paging] ul .prev .item:after {display:none;}
[data-paging] ul .next .item:before,
[data-paging] ul .next .item:after,
[data-paging] ul .last .item:before,
[data-paging] ul .last .item:after {border-left:0; border-bottom:0;}
[data-paging] ul .next .item:before {left:14px;}
[data-paging] ul .next .item:after {display:none;}
[data-paging] ul .last .item:before {left:11px;}
[data-paging] ul .last .item:after {left:17px;}

@media (max-width:1024px) {
	[data-paging] {padding-top:30px;}
	[data-paging] ul li .item {width:30px; height:30px; padding:6px 1px; font-size:12px; line-height:1.5em;}
	[data-paging] ul .prev {padding-right:8px;}
	[data-paging] ul .next {padding-left:8px;}
	[data-paging] ul .btn .item:before,
	[data-paging] ul .btn .item:after {width:6px; height:6px; top:10px;}
	[data-paging] ul .first .item:before {left:9px;}
	[data-paging] ul .first .item:after {left:15px;}
	[data-paging] ul .prev .item:before {left:12px;}
	[data-paging] ul .next .item:before {left:9px;}
	[data-paging] ul .last .item:before {left:6px;}
	[data-paging] ul .last .item:after {left:12px;}
}

/* 게시판 뷰 */
[data-board-view] {}

/*=========================================================
10. animate
=========================================================*/

/*!
 * animate.css -http://daneden.me/animate
 * Version - 3.7.0
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2018 Daniel Eden
 */

@-webkit-keyframes fadeInUp {
	0% {-webkit-transform:translate3d(0, 50px, 0); transform:translate3d(0, 50px, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:0;}
	100% {-webkit-transform:translate3d(0, 0, 0); transform:translate3d(0, 0, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:1;}
}

@keyframes fadeInUp {
	0% {-webkit-transform:translate3d(0, 50px, 0); transform:translate3d(0, 50px, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:0;}
	100% {-webkit-transform:translate3d(0, 0, 0); transform:translate3d(0, 0, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:1;}
}

@-webkit-keyframes fadeInDown {
	0% {-webkit-transform:translate3d(0, -50px, 0); transform:translate3d(0, -50px, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:0;}
	100% {-webkit-transform:translate3d(0, 0, 0); transform:translate3d(0, 0, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:1;}
}

@keyframes fadeInDown {
	0% {-webkit-transform:translate3d(0, -50px, 0); transform:translate3d(0, -50px, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:0;}
	100% {-webkit-transform:translate3d(0, 0, 0); transform:translate3d(0, 0, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:1;}
}

@-webkit-keyframes fadeInLeft {
	0% {-webkit-transform:translate3d(-50px, 0, 0); transform:translate3d(-50px, 0, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:0;}
	100% {-webkit-transform:translate3d(0, 0, 0); transform:translate3d(0, 0, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:1;}
}

@keyframes fadeInLeft {
	0% {-webkit-transform:translate3d(-50px, 0, 0); transform:translate3d(-50px, 0, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:0;}
	100% {-webkit-transform:translate3d(0, 0, 0); transform:translate3d(0, 0, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:1;}
}

@-webkit-keyframes fadeInRight {
	0% {-webkit-transform:translate3d(50px, 0, 0); transform:translate3d(50px, 0, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:0;}
	100% {-webkit-transform:translate3d(0, 0, 0); transform:translate3d(0, 0, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:1;}
}

@keyframes fadeInRight {
	0% {-webkit-transform:translate3d(50px, 0, 0); transform:translate3d(50px, 0, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:0;}
	100% {-webkit-transform:translate3d(0, 0, 0); transform:translate3d(0, 0, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:1;}
}

.fadeInUp {-webkit-animation-name:fadeInUp; animation-name:fadeInUp;}
.fadeInDown {-webkit-animation-name:fadeInDown; animation-name:fadeInDown;}
.fadeInLeft {-webkit-animation-name:fadeInLeft; animation-name:fadeInLeft;}
.fadeInRight {-webkit-animation-name:fadeInRight; animation-name:fadeInRight;}
.wait-animation {opacity:0; animation-play-state:paused;}
.animated {animation-duration:1s; animation-fill-mode:both; opacity:1 \0/IE8+9 !important;}