@charset 'UTF-8';

/*=========================================================
1. 폰트
=========================================================*/

/* 본고딕 */
@font-face {
	font-family: "Noto Sans KR";
	font-weight: normal;
	src: url("../fonts/notokr-regular.eot");
	src: local("※"), 
	url("../fonts/notokr-regular.woff2") format("woff2"), 
	url("../fonts/notokr-regular.woff") format("woff");
}

@font-face {
	font-family: "Noto Sans KR";
	font-weight: 500;
	src: url("../fonts/notokr-medium.eot");
	src: local("※"), 
	url("../fonts/notokr-medium.woff2") format("woff2"), 
	url("../fonts/notokr-medium.woff") format("woff");
}

@font-face {
	font-family: "Noto Sans KR";
	font-weight: 700;
	src: url("../fonts/notokr-bold.eot");
	src: local("※"), 
	url("../fonts/notokr-bold.woff2") format("woff2"), 
	url("../fonts/notokr-bold.woff") format("woff");
}

@font-face {
	font-family: "Noto Sans KR";
	font-weight: 900;
	src: url("../fonts/notokr-black.eot");
	src: local("※"), 
	url("../fonts/notokr-black.woff2") format("woff2"), 
	url("../fonts/notokr-black.woff") format("woff");
}

/*=========================================================
2. 리셋
=========================================================*/

html {font-size:1em; letter-spacing:-0.025em;}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video,button {-webkit-box-sizing:border-box;box-sizing:border-box; margin:0; padding:0; border:0; font-family:"Noto Sans KR",Dotum,"돋움",Helvetica,"Apple SD Gothic Neo",sans-serif; font-size:100%; vertical-align:baseline;}

input[type="text"],input[type="email"],input[type="number"],input[type="submit"],input[type="reset"],input[type="tel"],input[type="password"],input[type="url"],input[type="search"],input[type="file"],button,textarea {-webkit-box-sizing:border-box;box-sizing:border-box; margin:0; padding:0; border:none; border-radius:0; background:none; font-family:"Noto Sans KR",Dotum,"돋움",Helvetica,"Apple SD Gothic Neo",sans-serif; font-size:100%; letter-spacing:-0.04em; -webkit-appearance:none; -moz-appearance:none; appearance:none;}
input[type="text"]:disabled,input[type="password"]:disabled {background:#efefef;}
body {position:relative; background:#fff; font-size:14px; line-height:1.8; color:#333; word-wrap:break-word; word-break:keep-all; -webkit-text-size-adjust:none; -moz-text-size-adjust:none;}
blockquote,q {quotes:none;}
/* input:focus,button:focus {border:none;} */
table {width:100%; background:#fff; table-layout:fixed; border-spacing:0; border-collapse:collapse;}
ul,ol,li {list-style:none;}
a {color:#333; text-decoration:none;}
button::-moz-focus-inner {margin-top:-2px; margin-bottom:-2px; padding:0; border:0;}
input::-moz-focus-inner {margin-top:-2px; margin-bottom:-2px; padding:0; border:0;}
img {max-width:100%; height:auto;}
button {cursor:pointer; background:transparent;}
button span {position:relative;}
textarea {resize:none;}
textarea:focus {outline:none;}
em,address,i {font-style:normal;}
:focus {outline:none;}
:invalid {-webkit-box-shadow:none;box-shadow:none;}
:-moz-submit-invalid {box-shadow:none;}
:-moz-ui-invalid {box-shadow:none;}
label {cursor:pointer;}

/* PC, 모바일 제어 */
.pc {display:block !important;}
.mobile {display:none !important;}

@media (max-width:1024px) {
	.pc {display:none !important;}
	.mobile {display:block !important;}
}

/* Hidden */
.hidden {overflow:hidden; clip:rect(0 0 0 0); position:absolute; width:1px; height:1px; margin:-1px; padding:0; border:0;}

/* Placeholder */
::-webkit-input-placeholder {font-weight:400; color:#999;}
::-moz-placeholder {font-weight:400; color:#999;}
:-ms-input-placeholder {font-weight:400; color:#999;}
:-moz-placeholder {font-weight:400; color:#999;}

/* 워드프레스 테마 리셋 */
html {-webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale;}
#buffer-extension-hover-button,.entry-footer,.skip-link,.post-edit-link,.screen-reader-text,.dropdown-toggle,.site-header svg,.menu-toggle,.submenu-expand,.mobile-parent-nav-menu-item,.main-menu-more {display:none !important;}
 
@media (max-width:599px) {
    #wpadminbar {position:fixed !important; top:0; left:0; z-index:1000;}
}

/*=========================================================
3. 공통 레이아웃
=========================================================*/

.container {position:relative; max-width:1260px; margin:0 auto; padding:0 30px;}
.container.wide {max-width:1400px; padding:0;}
.content {padding-top:150px;}
.move_top {visibility:hidden; position:fixed; right:30px; bottom:100px; z-index:7; -webkit-transition:all 0.3s; transition:all 0.3s; opacity:0;}
.move_top.on {visibility:visible; bottom:110px; opacity:1;}
.move_top button {position:relative; width:30px; height:30px; border:1px solid #ca0464; background:#fff; line-height:1; text-align:center; text-indent:-9999px; -webkit-transition:all 0.3s; transition:all 0.3s;}
.move_top button:hover {background:#ca0464;}
.move_top button:before {position:absolute; top:5px; left:50%; width:0; height:0; margin-left:-6px; border-width:6px; border-style:solid; border-color:transparent transparent #ca0464 transparent; background:none; -webkit-transition:all 0.3s; transition:all 0.3s; content:"";}
.move_top button:hover:before {border-bottom-color:#fff;}

.ie9 {display:table; position:fixed; bottom:0; left:0; z-index:999; width:100%; min-height:100px; padding:5px 60px; background:#000;; font-size:14px; line-height:2em; color:#fff; text-align:center;}
.ie9 .inner {display:table-cell; vertical-align:middle;}
.ie9 .inner a {font-size:16px; font-weight:700; color:#fff;}
.ie9 button {overflow:hidden; position:absolute; top:20px; right:20px; width:30px; height:30px; background:url(../img/sprite/sprite.png); background-position:-10px -258px; text-indent:-9999px;}

@media (max-width:1024px) {
	.content {padding-top:50px;}
}

@media (max-width:599px) {
	.container {padding:0 15px;}
	.move_top {right:15px; bottom:50px;}
	.move_top.on {bottom:60px;}
}

/* 입력폼 */
input[type="text"],input[type="email"],input[type="number"],input[type="tel"],input[type="password"],input[type="url"],input[type="search"],input[type="file"],textarea {-webkit-box-sizing:border-box;box-sizing:border-box; height:40px; margin:0; padding:0 15px; border:1px solid #e8e5e2; border-radius:0; background:#fff; font-family:inherit; font-size:14px; line-height:40px; color:#666; -webkit-appearance:none; -moz-appearance:none; -ms-appearance:none; -o-appearance:none;}
textarea {width:100%; padding:10px 15px; line-height:1.5em;}

@media (max-width:320px) {
	input[type="text"],input[type="email"],input[type="number"],input[type="tel"],input[type="password"],input[type="url"],input[type="search"],input[type="file"] {padding:0 10px;}
	textarea {padding:10px;}
}

/* 체크박스 */
.check_form {margin:3px 0;}
.check_form ul {margin:-3px 0; font-size:0;}
.check_form ul > li {float:left; margin:3px 0; line-height:1;}
.check_form input[type="checkbox"] {width:0; height:0; margin:0; padding:0; font-size:0; line-height:0; opacity:0;}
.check_form ul:after,
.check_form ul > li:after {display:block; clear:both; content:"";}
.check_form input[type="checkbox"] + label {float:left; position:relative; margin-right:30px; padding-left:30px; font-size:14px; font-weight:500; line-height:20px; color:#333; cursor:pointer;}
.check_form ul > li:last-child input[type="checkbox"] + label {margin-right:0;}
.check_form input[type="checkbox"] + label:before {display:inline-block; position:absolute; top:50%; left:2px; -webkit-box-sizing:border-box; box-sizing:border-box; width:20px; height:20px; margin-top:-10px; border:1px solid #dedede; background:#fff; content:"";}
.check_form input[type="checkbox"]:checked + label:after {display:inline-block; position:absolute; top:2px; left:9px; width:5px; height:10px; border-right:2px solid #ca0464; border-bottom:2px solid #ca0464; content:""; -webkit-transform:rotate(35deg) skewY(15deg); transform:rotate(35deg) skewY(15deg);}
.check_form input[type="checkbox"]:disabled + label:before {background:#dedede;}

/* 체크박스(단일) */
.check_form.single {display:inline-block; margin:0;}
.check_form.single input[type="checkbox"] + label {height:20px; margin:0; padding-left:22px;}

/* 라디오버튼 */
.radio_form {margin:3px 0;}
.radio_form ul {margin:-3px 0; font-size:0;}
.radio_form ul > li {float:left; margin:3px 0; line-height:1;}
.radio_form input[type="radio"] {width:0; height:0; margin:0; padding:0; font-size:0; line-height:0; opacity:0;}
.radio_form ul:after,
.radio_form ul > li:after {display:block; clear:both; content:"";}
.radio_form input[type="radio"] + label {float:left; position:relative; margin-right:30px; padding-left:30px; font-size:14px; font-weight:500; line-height:20px; color:#333; cursor:pointer;}
.radio_form ul > li:last-child input[type="radio"] + label {margin-right:0;}
.radio_form input[type="radio"] + label:before {display:inline-block; position:absolute; top:50%; left:2px; -webkit-box-sizing:border-box; box-sizing:border-box; width:20px; height:20px; margin-top:-10px; border:1px solid #dedede; border-radius:50%; background:#fff; content:"";}
.radio_form input[type="radio"]:checked + label:after {display:inline-block; position:absolute; top:50%; left:7px; width:10px; height:10px; margin-top:-5px; border-radius:50%; background:#ca0464; content:"";}
.radio_form input[type="radio"]:disabled + label:before {background:#dedede;}

/* 셀렉트박스 */
.select_form {display:inline-block; position:relative; background:#fff; font-size:14px; text-align:left;}
.select_form button {display:block; overflow:hidden; position:relative; width:100%; min-width:170px; padding:0 15px; padding-right:35px; border:1px solid #e8e5e2; background:#fff; line-height:38px; text-align:left; text-overflow:ellipsis; white-space:nowrap;}
.select_form button:after {position:absolute; top:50%; right:15px; width:6px; height:6px; margin-top:-7px; border-right:2px solid #353535; border-bottom:2px solid #353535; -webkit-transform:rotate(45deg); transform:rotate(45deg); -webkit-transition:all 0.2s; transition:all 0.2s; content:"";}
.select_form button.on:after {margin-top:-3px; -webkit-transform:rotate(225deg); transform:rotate(225deg);}
.select_form ul {visibility:hidden; overflow:hidden; position:absolute; width:100%; height:0; padding:5px 15px; border:1px solid #dfdfdf; border-top:0; -webkit-transition:opacity 0.1s; transition:opacity 0.1s; opacity:0;}
.select_form button.on + ul {visibility:visible; overflow-y:auto; z-index:1; height:auto; max-height:300px; background:#fff; opacity:1;}
.select_form ul li a {display:block; padding:3px 0; line-height:1.3em; color:#555; -webkit-transition:all 0.3s; transition:all 0.3s;}
.select_form ul li a:hover {font-weight:700; color:#a88f62; text-decoration:underline;}

@media (max-width:1024px) {
    .select_form button {min-width:120px;}
}

@media (max-width:599px) {
    .select_form button {min-width:0;}
}

@media (max-width:320px) {
    .select_form button {padding-left:10px; padding-right:25px;}
	.select_form button:after {right:10px;}
	.select_form button.on + ul {max-height:200px;}
}

/* Datepicker */
.ui-datepicker {width:200px; margin-left:1px; background:#fff; outline:1px solid #ca0464;}
.ui-datepicker th,.ui-datepicker td {padding:0; border:0; font-size:12px; line-height:20px; text-align:center;}
.ui-datepicker th {border-bottom:1px solid #ca0464; background:#e6eff1; color:#ca0464;}
.ui-datepicker td a {display:block; font-weight:700; color:#999; -webkit-transition:all 0.3s; transition:all 0.3s;}
.ui-datepicker td.ui-datepicker-unselectable span {color:#eee;}
.ui-datepicker td a:hover {background:#ca0464; color:#fff;}
.ui-datepicker td.ui-datepicker-unselectable span {color:#eee;}
.ui-datepicker .ui-datepicker-prev,.ui-datepicker .ui-datepicker-next {position:absolute; top:5px; width:20px; height:20px; text-indent:-9999px; -webkit-transition:all 0.3s; transition:all 0.3s;}
.ui-datepicker .ui-datepicker-prev {left:5px;}
.ui-datepicker .ui-datepicker-next {right:5px;}
.ui-datepicker .ui-datepicker-prev:before,.ui-datepicker .ui-datepicker-next:before {content:""; width:10px; height:10px; border:2px solid #fff; -webkit-transform:translateX(-50%) rotate(45deg); transform:translateX(-50%) rotate(45deg); position:absolute; left:50%; top:5px;}
.ui-datepicker .ui-datepicker-prev:before {margin-left:2px; border-top:0; border-right:0;}
.ui-datepicker .ui-datepicker-next:before {margin-left:-2px; border-bottom:0; border-left:0;}
.ui-datepicker .ui-datepicker-title {background:#ca0464; font-size:14px; font-weight:700; line-height:30px; color:#fff; text-align:center;}
.ui-datepicker select {margin-right:3px; padding:0 5px; background:#fff; border:1px solid #fff; border-radius:0; color:#ca0464; font-size:14px; font-weight:700; font-family:inherit; -webkit-appearance:none; -moz-appearance:none; appearance:none;}
.ui-datepicker select::-ms-expand {display:none;}
.ui-datepicker select option {color:#ca0464;}

/*=========================================================
4. Slick
=========================================================*/

.slick-slider{display:block;position:relative;-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}.slick-list{display:block;overflow:hidden;position:relative;margin:0;padding:0}.slick-list:focus{outline:0}.slick-list.dragging{cursor:pointer;cursor:hand}.slick-slider .slick-list,.slick-slider .slick-track{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.slick-track{display:block;position:relative;top:0;left:0;margin-right:auto;margin-left:auto}.slick-track:after,.slick-track:before{display:table;content:""}.slick-track:after{clear:both}.slick-loading .slick-track{visibility:hidden}.slick-slide{display:none;float:left;height:100%;min-height:1px}[dir=rtl] .slick-slide{float:right}.slick-slide img{display:block}.slick-slide.slick-loading img{display:none}.slick-slide.dragging img{pointer-events:none}.slick-initialized .slick-slide{display:block}.slick-loading .slick-slide{visibility:hidden}.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}.slick-arrow.slick-hidden{display:none}

/*=========================================================
5. 헤더
=========================================================*/

header {position:fixed; top:0; left:0; z-index:5; width:100%; height:150px; background:#fff; border-bottom:1px solid #d5d5d5;}
header .header_wrap {position:relative; max-width:1460px; margin:0 auto; padding:0 30px;}
header h1 {display:inline-block; margin-top:55px; font-size:18px;}
header h1 .sub_link {display:inline-block; position:relative; margin-top:30px; margin-left:20px; padding-left:20px; line-height:1.5em; vertical-align:top;}
header h1 .sub_link:before {position:absolute; top:50%; left:0; width:1px; height:16px; margin-top:-9px; background:#ccc; content:"";}
header nav {position:absolute; right:30px; top:85px;}
header nav .main-menu {margin-right:-23px;}
header nav .main-menu:after {display:block; clear:both; content:"";}
header nav .main-menu > li {float:left; position:relative; padding:0 23px; padding-bottom:15px;}
header nav .main-menu > li > a {display:block; font-size:20px; font-weight:500; line-height:1.5em; -webkit-transition:all 0.3s; transition:all 0.3s;}
header nav .main-menu > li[class*='current'] a,
header nav .main-menu > li > a:hover {color:#ca0464;}
header nav .sub-menu {visibility:hidden; position:absolute; top:45px; left:50%; width:160px; margin-left:-80px; padding:5px 20px; background:rgba(192,0,105,0.95); -webkit-transition:all 0.3s; transition:all 0.3s; opacity:0;}
header nav .main-menu > li:last-child .sub-menu {right:23px; left:auto; margin:0;}
header nav .main-menu > li:hover .sub-menu {visibility:visible; opacity:1;}
header nav .sub-menu li {border-bottom:1px solid rgba(255,255,255,0.3);}
header nav .sub-menu li:last-child {border:0;}
header nav .sub-menu li a {display:block; line-height:40px; color:#fff; -webkit-transition:all 0.3s; transition:all 0.3s;}
header nav .sub-menu li[class*='current'] a,
header nav .sub-menu li a:hover {font-weight:700;}
header .upper_menu {position:absolute; top:30px; right:30px; font-size:0;}
header .upper_menu ul {display:inline-block; overflow:hidden; margin-right:10px;}
header .upper_menu li {float:left; position:relative; padding:0 15px;}
header .upper_menu li:after {position:absolute; top:50%; right:0; width:1px; height:12px; margin-top:-7px; background:#333; content:"";}
header .upper_menu li:last-child:after {display:none;}
header .upper_menu li a {display:block; font-size:14px; line-height:25px; -webkit-transition:all 0.3s; transition:all 0.3s;}
header .upper_menu li a:hover {text-decoration:underline; color:#ca0464;}
header .upper_menu .lang {display:inline-block; width:50px; border:1px solid #333; font-size:12px; line-height:25px; text-align:center; vertical-align:top; -webkit-transition:background-color 0.3s; transition:background-color 0.3s;}
header .upper_menu .lang:hover {border-color:#ca0464; background:#ca0464; color:#fff;}

@media (max-width:1280px) {
	header nav .main-menu {margin-right:-15px;}
	header nav .main-menu > li {padding:0 15px;}
	header nav .main-menu > li:last-child .sub-menu {right:15px;}
}

@media (max-width:1024px) {
	header {height:50px; text-align:center; padding:10px 0;}
	header h1 {margin:0; font-size:0;}
	header h1 img {height:31px;}
	header h1 .sub_link {line-height:20px; margin-top:8px; margin-left:10px; padding:0; font-size:14px;}
	header h1 .sub_link:before {display:none;}
	header .open_menu {position:absolute; top:0; left:30px; width:20px; height:24px; margin-top:3px; text-indent:-9999px;}
	header .open_menu span {position:absolute; left:0; width:20px; height:2px; background:#ca0464;}
	header .open_menu span:nth-child(1) {top:3px;}
	header .open_menu span:nth-child(2) {top:50%; margin-top:-1px;}
	header .open_menu span:nth-child(3) {bottom:3px;}
	header .nav_wrap {visibility:hidden; position:fixed; top:0; left:0; z-index:999; width:100%; height:100%; background:rgba(0,0,0,0.5); opacity:0; -webkit-backface-visibility:hidden;}
	header .nav_wrap.on {visibility:visible; opacity:1; -webkit-transition:all 0.3s; transition:all 0.3s;}
	header .nav_menu {position:relative; width:50%; min-width:290px; height:100%; padding:10px 30px; background:#fff; -webkit-transform:translateX(-100%); transform:translateX(-100%);}
	header .nav_wrap.on .nav_menu {-webkit-transform:translateX(0);transform:translateX(0); -webkit-transition:-webkit-transform 0.3s; transition:-webkit-transform 0.3s; transition:transform 0.3s; transition:transform 0.3s, -webkit-transform 0.3s;}
	header .nav_menu .nav_box {overflow-y:auto; height:calc(100% - 70px);}
	header .nav_menu .close_menu {overflow:hidden; position:absolute; top:0; right:-30px; width:30px; height:30px; text-indent:-9999px; -webkit-transform:scale(0.8); transform:scale(0.8);}
	header .nav_menu .close_menu:before,
	header .nav_menu .close_menu:after {position:absolute; left:-1px; width:2px; height:50px; background:#fff; content:"";}
	header .nav_menu .close_menu:before {top:0; -webkit-transform:rotate(-45deg); transform:rotate(-45deg); -webkit-transform-origin:left top; transform-origin:left top;}
	header .nav_menu .close_menu:after {bottom:0; -webkit-transform:rotate(45deg); transform:rotate(45deg); -webkit-transform-origin:left bottom; transform-origin:left bottom;}
	header nav {position:static;}
	header nav .main-menu {margin:0;}
	header nav .main-menu > li {float:none; position:relative; padding:0; border-bottom:1px solid #d5d5d5; text-align:left;}
	header nav .main-menu > li:last-child {border:0;}
	header nav .main-menu > li:before,
	header nav .main-menu > li:after {position:absolute; top:1em; right:0; width:10px; height:2px; background:#ca0464; content:"";}
	header nav .main-menu > li:after {-webkit-transform:rotate(90deg) scaleX(1);transform:rotate(90deg) scaleX(1); -webkit-transition:all 0.3s; transition:all 0.3s;}
	header nav .main-menu > li.on:after {-webkit-transform:rotate(90deg) scaleX(0);transform:rotate(90deg) scaleX(0);}
	header nav .main-menu > li > a {font-size:16px; line-height:2em; padding:0;}
	header nav .sub-menu {visibility:visible; position:static; width:auto; margin:0; margin-bottom:10px; padding:5px 15px; border:1px solid #d5d5d5; background:#f3f1ee; -webkit-transition:none; transition:none; opacity:1;}
	header nav .sub-menu li {border-color:#d5d5d5;}
	header nav .sub-menu li a {font-size:14px; line-height:1.5em; padding:5px 0; color:#555;}
	header nav .sub-menu li[class*='current'] a,
	header nav .sub-menu li a:hover {color:#ca0464;}
	header .upper_menu {position:absolute; top:auto; right:auto; bottom:10px; width:calc(100% - 60px); }
	header .upper_menu ul {display:block; margin:0; margin-left:-5px;}
	header .upper_menu li {padding:0 5px;}
	header .upper_menu li a {font-size:12px; line-height:1.5em;}
	header .upper_menu .lang {width:100%; margin-top:5px; line-height:1.5em;}
}

@media (max-width:599px) {
	header .open_menu {left:15px;}
	header .upper_menu {width:calc(100% - 30px);}
	header .nav_menu {padding:10px 15px;}
}

/* 워드프레스 관리자 헤더 커스터마이징 */
.admin-bar header {top:32px;}
.admin-bar .content {padding-top:182px;}

@media (max-width:1024px) {
	.admin-bar header .nav_wrap {top:32px;}
	.admin-bar header .nav_menu {height:calc(100% - 32px);}
	.admin-bar .content {padding-top:82px;}
}

@media (max-width:782px) {
	.admin-bar header,
	.admin-bar header .nav_wrap {top:46px;}
	.admin-bar header .nav_menu {height:calc(100% - 46px);}
	.admin-bar .content {padding-top:96px;}
}

/*=========================================================
6. 푸터
=========================================================*/

footer .bottom_wrap {background:#a88f62; padding:7px 0;}
footer .bottom_wrap:after {display:block; clear:both; content:"";}
footer .bottom_wrap .bottom_list {overflow:hidden; float:left; margin:0 -20px; padding:7px 0;}
footer .bottom_wrap .bottom_list li {float:left; position:relative; padding:0 20px;}
footer .bottom_wrap .bottom_list li:after {position:absolute; top:50%; right:0; width:1px; height:14px; margin-top:-9px; background:#fff; opacity:0.4; content:"";}
footer .bottom_wrap .bottom_list li:last-child:after {display:none;}
footer .bottom_wrap .bottom_list li a {display:block; font-size:14px; line-height:1.5em; color:#fff; -webkit-transition:all 0.3s; transition:all 0.3s;}
footer .bottom_wrap .bottom_list li a:hover {color:#71542a;}
footer .bottom_wrap .bottom_list li.personal a {font-weight:700; color:#71542a;}
footer .bottom_wrap .link {float:right;}
footer .bottom_wrap .link .select_form {background:none;}
footer .bottom_wrap .link .select_form button {background:none; line-height:34px; color:#fff;}
footer .bottom_wrap .link .select_form button:after {border-color:#fff;}
footer .bottom_wrap .link .select_form ul {bottom:35px; border-top:1px solid #dfdfdf;}
footer .footer_wrap {padding:20px 0;}
footer .footer_wrap img {float:left; height:40px; margin-top:5px; margin-right:70px;}
footer .footer_wrap .info {overflow:hidden; line-height:2em; font-size:12px;}
footer .footer_wrap .info dl {overflow:hidden; color:#ac8e63; margin-left:-20px;}
footer .footer_wrap .info dl > div {display:inline-block; position:relative; padding:0 20px;}
footer .footer_wrap .info dl > div:after {position:absolute; top:50%; right:0; width:1px; height:12px; margin-top:-7px; background:#ded2c1; opacity:0.4; content:"";}
footer .footer_wrap .info dl > div:last-child:after {display:none;}
footer .footer_wrap .info dt,
footer .footer_wrap .info dd {display:inline-block;}
footer .footer_wrap .info dt {font-weight:700;} 
footer .footer_wrap .info dt:after {content:":"; padding:0 0.5em;}
footer .footer_wrap .info dd a {color:inherit;}
footer .footer_wrap .info .copyright {color:#ccc;}

@media (max-width:1024px) {
	footer {text-align:center;}
	footer .footer_wrap {padding:15px 0;}
	footer .bottom_wrap .bottom_list {float:none;}
	footer .bottom_wrap .bottom_list li {display:inline-block; float:none;}
	footer .bottom_wrap .link {float:none;}
	footer .footer_wrap img {margin-right:30px;}
	footer .footer_wrap .info {line-height:1.75em;}
	footer .footer_wrap .info dl {margin-left:-10px;}
	footer .footer_wrap .info dl > div {padding:0 10px;}
	footer .footer_wrap .info .copyright {font-size:10px; line-height:1.5em;}
}

@media (max-width:599px) {
	footer .bottom_wrap .bottom_list {margin:0 -10px; padding:10px 0;}
	footer .bottom_wrap .bottom_list li {padding:0 10px;}
	footer .bottom_wrap .link .select_form {width:100%; margin:5px 0;}
	footer .footer_wrap img {display:block; float:none; margin:0 auto; margin-bottom:15px;}
	footer .footer_wrap .info {line-height:1.5em;}
	footer .footer_wrap .info dl > div:after {display:none;}
}

/*=========================================================
7. 모달, 로딩
=========================================================*/

/* 모달 */
[data-modal] {position:fixed; top:0; right:0; bottom:0; left:0; z-index:100; background:rgba(187,187,187,0.5);}
[data-modal] .modal {overflow-y:auto; position:absolute; top:30px; left:50%; max-width:calc(100vw - 60px); max-height:calc(100vh - 60px); padding:30px; border:1px solid #999; background:#fff; -webkit-box-shadow:10px 10px 20px rgba(0,0,0,0.05); box-shadow:10px 10px 20px rgba(0,0,0,0.05);}
[data-modal] .modal_tit {font-size:30px; font-weight:700; line-height:1.5em;}
[data-modal] .modal_tit.center {text-align:center;}
[data-modal] .modal_subtxt {margin-top:15px; padding:15px 20px; background:#f9f7f5;}
[data-modal] .modal_subtxt p {font-size:14px; line-height:1.85em; color:#555;}
[data-modal] .modal_subtxt p strong {font-weight:400; color:#ca0464;}
[data-modal] .modal .close {position:absolute; top:15px; right:15px; width:24px; height:24px; text-indent:-9999px;}
[data-modal] .modal .close:before,[data-modal] .modal .close:after {position:absolute; left:0; width:2px; height:34px; background:#333; content:"";}
[data-modal] .modal .close:before {top:0; -webkit-transform:rotate(-45deg); transform:rotate(-45deg); -webkit-transform-origin:top; transform-origin:top;}
[data-modal] .modal .close:after {bottom:0; -webkit-transform:rotate(45deg); transform:rotate(45deg); -webkit-transform-origin:bottom; transform-origin:bottom;}

/* 학교검색 */
[data-modal]#school .modal {width:600px; margin-left:-300px;} 

/*=========================================================
8. 메인 페이지 스타일
=========================================================*/

/* 메인 비주얼 영역 */
.main_visual .slider {position:relative;}
.main_visual .main_slide .slide {min-height:640px; height:calc(100vh - 150px);; padding-top:125px; background-position:center; background-size:cover; z-index:0 !important;}
.main_visual .main_slide .slide.slick-current {z-index:1 !important;}
.main_visual .main_slide .slide .txt_wrap {color:#fff;}
.main_visual .main_slide .slide .txt_wrap .sub_txt {overflow:hidden; font-size:24px; font-weight:500; line-height:1.5em; text-overflow:ellipsis; white-space:nowrap;}
.main_visual .main_slide .slide .txt_wrap .tit {overflow:hidden; max-height:2.4em; margin-top:10px; font-size:60px; font-weight:700; line-height:1.2em;}
.main_visual .main_slide .slide .txt_wrap .sub_info {overflow:hidden; position:relative; margin-top:15px; padding-left:30px; font-size:18px; line-height:1.5em; text-overflow:ellipsis; white-space:nowrap;}
.main_visual .main_slide .slide .txt_wrap .sub_info:before {position:absolute; top:50%; left:0; width:20px; height:8px; margin-top:-5px; background:#ca0464; content:"";}
.main_visual .main_slide .slide .txt_wrap .detail {display:block; width:180px; margin-top:25px; border:1px solid #fff; font-size:14px; line-height:38px; color:inherit; text-align:center; -webkit-transition:all 0.3s; transition:all 0.3s;}
.main_visual .main_slide .slide .txt_wrap .detail:hover {border-color:#ca0464; background:#ca0464;}
.main_visual .main_slide .slick-dots {overflow:hidden; position:absolute; bottom:28%; left:50%; z-index:2; margin-left:-600px; font-size:0;}
.main_visual .main_slide .slick-dots li {float:left; height:16px; margin-right:15px;}
.main_visual .main_slide .slick-dots li button {width:10px; height:10px; margin:3px 0; border:3px solid transparent; border-radius:50%; background:#fff; text-indent:-9999px; -webkit-transition:all 0.3s; transition:all 0.3s;}
.main_visual .main_slide .slick-dots .slick-active button {width:16px; height:16px; margin:0; border-color:#fff; background:none;}
.main_visual .notice {position:absolute; right:0; bottom:0; width:850px; padding:0 100px 0 150px; background:#fff; z-index:2;}
.main_visual .notice .slide {font-weight:500;}
.main_visual .notice .slide p {overflow:hidden; padding-left:30px; font-size:20px; line-height:70px; text-overflow:ellipsis; white-space:nowrap; -webkit-transition:all 0.3s; transition:all 0.3s;}
.main_visual .notice .slide a:hover p {color:#ca0464;}
.main_visual .notice .slide .cate {margin-right:0.5em; font-size:16px; color:#a88f62; vertical-align:top;}
.main_visual .notice .slick-arrow {position:absolute; top:50%; width:15px; height:30px; margin-top:-15px; text-indent:-9999px;}
.main_visual .notice .slick-arrow:before,
.main_visual .notice .slick-arrow:after {position:absolute; top:50%; width:20px; height:1px; background:#333; content:""; -webkit-transition:all 0.3s; transition:all 0.3s;}
.main_visual .notice .slick-prev {left:-110px;}
.main_visual .notice .slick-prev:before,
.main_visual .notice .slick-prev:after {left:0; -webkit-transform-origin:left; transform-origin:left;}
.main_visual .notice .slick-prev:before {-webkit-transform:rotate(45deg);transform:rotate(45deg);}
.main_visual .notice .slick-prev:after {-webkit-transform:rotate(-45deg);transform:rotate(-45deg);}
.main_visual .notice .slick-next {left:-50px;}
.main_visual .notice .slick-next:before,
.main_visual .notice .slick-next:after {right:0; -webkit-transform-origin:right; transform-origin:right;}
.main_visual .notice .slick-next:before {-webkit-transform:rotate(-45deg);transform:rotate(-45deg);}
.main_visual .notice .slick-next:after {-webkit-transform:rotate(45deg);transform:rotate(45deg);}
.main_visual .notice .slick-arrow:hover:before,
.main_visual .notice .slick-arrow:hover:after {background:#ca0464;}
.main_visual .notice .status {position:absolute; top:0; right:0; width:100px; font-size:13px; line-height:70px; text-align:center;}

@media (max-width:1260px) {
	.main_visual .main_slide .slick-dots {left:30px; margin:0;}
}

@media (max-width:1024px) {
	.main_visual .main_slide .slide {min-height:0; height:300px; padding-top:50px;}
	.main_visual .main_slide .slide .txt_wrap .sub_txt {font-size:16px;}
	.main_visual .main_slide .slide .txt_wrap .tit {margin-top:15px; font-size:32px;}
	.main_visual .main_slide .slide .txt_wrap .sub_info {padding-left:15px; font-size:16px;}
	.main_visual .main_slide .slide .txt_wrap .sub_info:before {width:10px; height:4px; margin-top:-3px;}
	.main_visual .main_slide .slide .txt_wrap .detail {width:150px; margin-top:15px; line-height:30px;}
	.main_visual .main_slide .slick-dots {left:50%; -webkit-transform:translateX(-50%); transform:translateX(-50%); bottom:30px;}
	.main_visual .main_slide .slick-dots li {margin:0; margin:0 5px;}
	.main_visual .notice {position:static; width:auto; padding:0;}
	.main_visual .notice .slide p {padding:0 60px; font-size:16px; line-height:50px;}
	.main_visual .notice .slide .cate {font-size:14px;}
	.main_visual .notice .slick-arrow {z-index:1;}
	.main_visual .notice .slick-prev {left:30px;}
	.main_visual .notice .slick-next {left:auto; right:30px;}
	.main_visual .notice .status {display:none;}
}

@media (max-width:599px) {
	.main_visual .main_slide .slide {height:250px; padding-top:40px;}
	.main_visual .main_slide .slide .txt_wrap .sub_txt,
	.main_visual .main_slide .slide .txt_wrap .sub_info {font-size:14px;}
	.main_visual .main_slide .slide .txt_wrap .tit {font-size:20px;}
	.main_visual .main_slide .slide .txt_wrap .detail {width:120px; font-size:12px; line-height:2em;}
	.main_visual .main_slide .slick-dots {bottom:15px;}
	.main_visual .notice .slide p {padding:0 40px; font-size:14px; line-height:40px;}
	.main_visual .notice .slide .cate {font-size:12px;}
	.main_visual .notice .slick-arrow {-webkit-transform:scale(0.75);transform:scale(0.75);}
	.main_visual .notice .slick-prev {left:15px; -webkit-transform-origin:left; transform-origin:left;}
	.main_visual .notice .slick-next {right:15px; -webkit-transform-origin:right; transform-origin:right;}
}

/*=========================================================
9. 서브 페이지 스타일
=========================================================*/

/* 공통 */
[data-sub-content] {padding:45px 0 100px;}

@media (max-width:1024px) {
	[data-sub-content] {padding:30px 0 50px;}
}

/* 타이틀 */
[data-sub-title] {padding-bottom:50px; text-align:center;}
[data-sub-title] .tit {position:relative; padding-bottom:15px; font-size:40px; font-weight:500; line-height:1.2em;}
[data-sub-title] .tit:after {position:absolute; bottom:0; left:50%; width:20px; height:8px; margin-left:-10px; background:#ca0464; content:"";}
[data-sub-title] .txt {margin-top:20px; font-size:18px; line-height:1.5em; color:#666;}

@media (max-width:1024px) {
	[data-sub-title] {padding-bottom:30px;}
	[data-sub-title] .tit {padding-bottom:10px; font-size:28px;}
	[data-sub-title] .tit:after {height:4px;}
	[data-sub-title] .txt {margin-top:15px; font-size:14px;}
}

@media (max-width:599px) {
	[data-sub-title] .tit {font-size:22px;}
	[data-sub-title] .tit:after {height:2px;}
	[data-sub-title] .txt {font-size:12px;}
	[data-sub-title] .txt br {display:none;}
}

/* 탭메뉴 */
[data-tab-menu] {margin-bottom:50px;}
[data-tab-menu] ul:after {display:block; clear:both; content:"";}
[data-tab-menu] ul li {float:left; position:relative;}
[data-tab-menu] ul li:after {position:absolute; top:0; right:0; width:1px; height:100%; background:#fff; content:"";}
[data-tab-menu] ul li:last-child:after {display:none;}
[data-tab-menu] .type1 li {width:100%;}
[data-tab-menu] .type2 li {width:50%;}
[data-tab-menu] .type3 li {width:33.33%;}
[data-tab-menu] .type4 li {width:25%;}
[data-tab-menu] .type5 li {width:20%;}
[data-tab-menu] .type6 li {width:16.66%;}
[data-tab-menu] ul li:last-child {border-right:0;}
[data-tab-menu] ul li a {display:table; position:relative; width:100%; height:60px; background:#efefef; font-size:16px; font-weight:500; line-height:1.5em; text-align:center; -webkit-transition:all 0.3s; transition:all 0.3s;}
[data-tab-menu] ul li.on a,
[data-tab-menu] ul li a:hover {background:#fff; color:#a88f62;}
[data-tab-menu] ul li a:before {position:absolute; top:0; left:0; width:100%; height:4px; background:#a88f62; -webkit-transition:all 0.3s; transition:all 0.3s; opacity:0; content:"";}
[data-tab-menu] ul li.on a:before,
[data-tab-menu] ul li a:hover:before {-webkit-transform-origin:right;transform-origin:right; opacity:1;}
[data-tab-menu] ul li a span {display:table-cell; vertical-align:middle;}

@media (max-width:1024px) {
	[data-tab-menu] {margin-bottom:30px;}
	[data-tab-menu] ul li {width:50% !important; border-bottom:1px solid #fff;}
	[data-tab-menu] ul li a {height:2.5em; font-size:14px;}
	[data-tab-menu] ul li a:before {height:2px;}
}

@media (max-width:599px) {
	[data-tab-menu] ul li {width:100% !important;}
	[data-tab-menu] ul li a {font-size:12px;}
	[data-tab-menu] ul li a:before {height:1px;}
}

/* 컨텐츠 박스 */
[data-content-box] + [data-content-box] {margin-top:80px;}
[data-content-box].column {padding-top:50px; border-top:3px solid #333; border-bottom:1px solid #333;}
[data-content-box].column.no_border {border-bottom:0;}
[data-content-box].column + [data-content-box].column {margin-top:50px;}
[data-content-box] .column_tit {margin-top:-10px; margin-bottom:20px; font-size:30px; font-weight:700; line-height:1.5em;}

@media (max-width:1024px) {
	[data-content-box] + [data-content-box] {margin-top:30px !important;}
	[data-content-box].column {padding:15px 0; border-bottom:1px solid #333 !important;}
	[data-content-box] .column_tit {margin:0; margin-bottom:15px; font-size:22px;}
}

@media (max-width:599px) {
	[data-content-box] .column_tit {font-size:18px;}
}

/* 대시보드 박스 */
[data-dashboard-box] {position:relative;}
[data-dashboard-box] .more {position:absolute; top:25px; right:0; padding-right:15px; font-size:14px; line-height:1.5em; color:#ca0464;}
[data-dashboard-box] .more:after {position:absolute; top:50%; right:0; width:6px; height:6px; margin-top:-6px; border-top:1px solid #ca0464; border-right:1px solid #ca0464; -webkit-transform:rotate(45deg); transform:rotate(45deg); content:""; -webkit-transition:all 0.3s; transition:all 0.3s;}
[data-dashboard-box] .more:hover:after {right:-5px;}

/* 검색창 */
[data-board-misc] {margin-bottom:30px;}
[data-board-misc]:after {display:block; clear:both; content:"";}
[data-board-misc] .status {font-size:16px; line-height:40px;}
[data-board-misc] .status span {font-weight:500; color:#ca0464;}
[data-board-misc] [data-search-box] {float:right; font-size:0;}
[data-search-box] .search_wrap {display:inline-block; width:240px; margin-left:10px;}
[data-search-box] .search_wrap input[type="text"] {width:calc(100% - 40px); border-right:0;}
[data-search-box] .search_wrap button {position:relative; width:40px; height:40px; background:#a88f62; text-indent:-9999px; vertical-align:top;}
[data-search-box] .search_wrap button:before,
[data-search-box] .search_wrap button:after {content:""; position:absolute;}
[data-search-box] .search_wrap button:before {width:2px; height:6px; background:#fff; -webkit-transform:rotate(-45deg); transform:rotate(-45deg); left:24px; top:22px;}
[data-search-box] .search_wrap button:after {width:8px; height:8px; border-radius:50%; border:2px solid #fff; background:#a88f62; left:13px; top:13px;}

@media (max-width:1024px) {
	[data-board-misc] [data-search-box] {float:none; text-align:center;}
	[data-board-misc] .status {font-size:14px;} 
}

@media (max-width:599px) {
	[data-search-box] .select_form,
	[data-search-box] .search_wrap {width:100%; margin:0; margin-top:10px;}
	[data-board-misc] .status {font-size:12px; line-height:1.5em; margin-top:10px;} 
}

/* 제어 버튼 */
[data-btn] {display:inline-block; position:relative; min-width:115px; margin:0 5px; padding:0 10px; border:0; border-radius:0; background:#333; font-size:16px; font-weight:700; line-height:45px; color:#fff; text-align:center; white-space:nowrap;}
[data-btn].wide {min-width:240px;}
[data-btn].full {min-width:100%; margin:0;}
[data-btn][type="submit"],
[data-btn].confirm,
[data-btn].login,
[data-btn].list {background:#ca0464;}
[data-btn].naver {background:#33bd00;}
[data-btn].kakao {background:#feed00; color:#381f20;}
[data-btn].facebook {background:#47559b;}
[data-btn].sns:before {position:absolute; top:50%; left:13px; -webkit-transform:translateY(-50%); transform:translateY(-50%); content:""; background:red;}
[data-btn].naver:before {width:20px; height:18px;}
[data-btn].kakao:before {width:22px; height:20px;}
[data-btn].facebook:before {width:11px; height:20px; margin-left:5px;}
[data-ctr-btn] {margin-top:30px; font-size:0; text-align:center;}
[data-ctr-btn].right {text-align:right;}
[data-ctr-btn] [data-btn]:only-child {margin:0;}

@media (max-width:1024px) {
	[data-btn] {font-size:14px; line-height:40px;}
	[data-ctr-btn] {text-align:center !important;}
}

@media (max-width:599px) {
	[data-btn].wide {min-width:100%; margin:0;}
}

/* 게시판(일반) 리스트 */
[data-board-list]:after {display:block; clear:both; content:"";}
[data-board-list] table {border-top:3px solid #333;}
[data-board-list] table th,
[data-board-list] table td {padding:10px 20px; border-bottom:1px solid #cdcdcd; font-size:16px; line-height:1.5em; text-align:center; vertical-align:middle; color:#666;}
[data-board-list] table th {height:60px; color:#333;}
[data-board-list] table td {height:80px;}
[data-board-list] table td[data-type="num"] {font-weight:500;}
[data-board-list] table td[data-type="title"] {text-align:left; font-weight:700;}
[data-board-list] table td[data-type="title"] .cate {color:#a88f62;}
[data-board-list] table td[data-type="title"] .tit {display:inline; color:#333; -webkit-transition:all 0.3s; transition:all 0.3s;}
[data-board-list] table td[data-type="title"] a:hover .tit {color:#ca0464;}
[data-board-list] table td[data-type="title"] .secret {display:inline-block; width:20px; height:27px; background:red; text-indent:-9999px;}
[data-board-list] table td[data-type="status"] span {display:inline-block; width:90px; border:1px solid #999; font-size:14px; font-weight:500; line-height:40px; color:#999; text-align:center;}
[data-board-list] table td[data-type="status"] span.on {border-color:#ca0464; color:#ca0464;}
[data-board-list] [data-ctr-btn] {margin-top:25px;}
[data-board-list] [data-ctr-btn] [data-btn] {float:right;}

@media (max-width:1024px) {
	[data-board-list] table,
	[data-board-list] table thead,
	[data-board-list] table tbody,
	[data-board-list] table tr,
	[data-board-list] table th,
	[data-board-list] table td {display:block; float:left; clear:both; width:100%; text-align:left;}
	[data-board-list] table thead {overflow:hidden; position:absolute; left:-9999px; width:1px; height:1px;}
	[data-board-list] table tr {padding:5px 0; border-bottom:1px solid #cdcdcd;}
	[data-board-list] table td {font-size:14px; height:auto !important; padding:5px 0; border:0;}
	[data-board-list] table td[data-type="num"] {font-weight:700;}
	[data-board-list] table td[data-type="title"] {font-weight:500;}
	[data-board-list] table td[data-type="title"] .secret {-webkit-transform:scale(0.75);transform:scale(0.75); -webkit-transform-origin:left top; transform-origin:left top;}
	[data-board-list] table td[data-type="date"] {font-size:12px !important;}
	[data-board-list] table td[data-type="status"] span {width:auto; margin-top:5px; padding:0 10px; font-size:12px; line-height:2em;}

	[data-board-list] table td[data-type="category"]:before {content:"분류 : "}
}

@media (max-width:599px) {
	[data-board-list] table td {padding:3px 0;}
	/* [data-board-list] table td[data-type="title"] {font-size:12px;} */
}

/* 게시판(대시보드) 리스트 */
[data-board-list].info table th {height:50px;}
[data-board-list].info table td {height:40px; font-size:14px;}
[data-board-list].info table td[data-type="title"] a {display:block; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
[data-board-list].info table td[data-type="title"] .tit {font-weight:400;}

/* 페이징 */
[data-paging] {overflow:hidden; clear:both; padding-top:50px;}
[data-paging] ul {margin:-2px -2px; font-size:0; line-height:0; text-align:center;}
[data-paging] ul li {display:inline-block; padding:2px 2px; vertical-align:middle;}
[data-paging] ul li .item {display:block; width:40px; height:40px; padding:10px 1px; border:solid 1px #e8e5e2; font-size:14px; line-height:1.3em; color:#555; text-align:center; -webkit-transition:all 0.3s; transition:all 0.3s;}
[data-paging] ul li .item:hover {border-color:#666; font-weight:500;}
[data-paging] ul li.active .item {border-color:#666; background:#666; font-weight:500; color:#fff;}
[data-paging] ul .prev {padding-right:28px;}
[data-paging] ul .next {padding-left:28px;}
[data-paging] ul .btn .item {position:relative; text-indent:-9999px;}
[data-paging] ul .btn .item:before,
[data-paging] ul .btn .item:after {position:absolute; top:14px; left:16px; width:8px; height:8px; border:1px solid #555; -webkit-transform:rotate(45deg); transform:rotate(45deg); content:"";}
[data-paging] ul .first .item:before,
[data-paging] ul .first .item:after,
[data-paging] ul .prev .item:before,
[data-paging] ul .prev .item:after {border-top:0; border-right:0;}
[data-paging] ul .first .item:before {left:15px;}
[data-paging] ul .first .item:after {left:21px;}
[data-paging] ul .prev .item:before {left:18px;}
[data-paging] ul .prev .item:after {display:none;}
[data-paging] ul .next .item:before,
[data-paging] ul .next .item:after,
[data-paging] ul .last .item:before,
[data-paging] ul .last .item:after {border-left:0; border-bottom:0;}
[data-paging] ul .next .item:before {left:14px;}
[data-paging] ul .next .item:after {display:none;}
[data-paging] ul .last .item:before {left:11px;}
[data-paging] ul .last .item:after {left:17px;}

@media (max-width:1024px) {
	[data-paging] {padding-top:30px;}
	[data-paging] ul li .item {width:30px; height:30px; padding:6px 1px; font-size:12px; line-height:1.5em;}
	[data-paging] ul .prev {padding-right:8px;}
	[data-paging] ul .next {padding-left:8px;}
	[data-paging] ul .btn .item:before,
	[data-paging] ul .btn .item:after {width:6px; height:6px; top:10px;}
	[data-paging] ul .first .item:before {left:9px;}
	[data-paging] ul .first .item:after {left:15px;}
	[data-paging] ul .prev .item:before {left:12px;}
	[data-paging] ul .next .item:before {left:9px;}
	[data-paging] ul .last .item:before {left:6px;}
	[data-paging] ul .last .item:after {left:12px;}
}

/* 게시판 뷰 */
[data-board-view] {border-bottom:1px solid #333;}
[data-board-view] .view_header {overflow:hidden; position:relative; padding:20px 30px; padding-right:100px; border-top:3px solid #333; border-bottom:1px solid #e8e5e2;}
[data-board-view] .view_header .tit {font-size:24px; font-weight:500; line-height:1.3em;}
[data-board-view] .view_header .tit .cate {font-weight:700; color:#a88f62;}
[data-board-view] .view_header .misc {margin-top:15px;}
[data-board-view] .view_header .misc > li {float:left; position:relative; margin-right:10px; padding-left:20px; font-size:14px; line-height:20px; color:#999;}
[data-board-view] .view_header .misc > li:before {position:absolute; top:50%; left:0; width:14px; height:14px; margin-top:-1px; background:red; -webkit-transform:translateY(-50%); transform:translateY(-50%); content:"";}
/* [data-board-view] .view_header .misc .author:before {}
[data-board-view] .view_header .misc .date:before {} */
[data-board-view] .view_header .misc .view {position:absolute; top:50%; right:30px; margin:0; margin-top:-12px; padding-left:34px; line-height:24px;}
[data-board-view] .view_header .misc .view:before {width:22px; height:24px;}
[data-board-view] .view_content {font-size:16px; line-height:1.875em; padding:45px 30px 95px;}
[data-board-view] .answer {padding:50px 65px 40px; border-top:1px solid #e8e5e2; background:#f4efe9; font-size:16px; line-height:1.875em;}
[data-board-view] .answer .tit {display:block; position:relative; margin-bottom:15px; font-weight:500; color:#ca0464;}
[data-board-view] .answer .tit:before {position:absolute; top:2px; left:-34px; width:24px; height:20px; background:red; content:"";}

@media (max-width:1024px) {
	[data-board-view] .view_header {padding:15px 0;}
	[data-board-view] .view_header .tit {font-size:20px; line-height:1.4em;}
	[data-board-view] .view_header .misc {overflow:hidden; margin-top:10px;}
	[data-board-view] .view_header .misc > li {font-size:12px;}
	[data-board-view] .view_header .misc .view {position:relative; top:0; right:0; margin:0; padding-left:20px; line-height:20px;}
	[data-board-view] .view_header .misc .view:before {-webkit-transform:translateY(-50%) scale(0.6);transform:translateY(-50%) scale(0.6); -webkit-transform-origin:left center; transform-origin:left center;}
	[data-board-view] .view_content {font-size:14px; line-height:1.5em; padding:30px 0;}
	[data-board-view] .answer {padding:30px; font-size:14px; line-height:1.5em;}
	[data-board-view] .answer .tit {padding-left:34px;}
	[data-board-view] .answer .tit:before {top:0; left:0;}
}

@media (max-width:599px) {
	[data-board-view] .view_header .tit {font-size:16px;}
	[data-board-view] .view_content {padding:15px 0; font-size:12px;}
	[data-board-view] .answer {padding:15px; font-size:12px;}
	[data-board-view] .answer .tit:before {top:-1px;}
}

/* Q&A */
[data-faq] {border-top:1px solid #cdc9c6;} 
[data-faq] > li {border-bottom:1px solid #e8e5e2;}
[data-faq] .cont {position:relative;}
[data-faq] .cont i {position:absolute; left:25px; font-size:28px; font-weight:500; line-height:1.5em;}
[data-faq] .question {padding:25px 180px 25px 70px; cursor:pointer;}
[data-faq] .question i {top:19px;}
[data-faq] .question .tit {font-size:20px; font-weight:500; line-height:1.5em;}
[data-faq] .question .tit .cate {color:#a88f62;}
[data-faq] .question .misc {overflow:hidden; position:absolute; right:10px; top:28px;}
[data-faq] .question .misc > li {float:left; position:relative; font-size:14px; line-height:26px; color:#999; padding:0 20px;}
[data-faq] .question .misc > li:before {position:absolute; top:50%; left:0; width:1px; height:10px; margin-top:-6px; background:#999; content:"";}
[data-faq] .question .misc > li:first-child:before {display:none;}
[data-faq] .question .misc .file a {display:inline-block; width:24px; height:24px; background:red; text-indent:-9999px;}
[data-faq] .question .misc .file a:hover {background:blue;}
[data-faq] .question .misc .view {padding-left:34px;}
[data-faq] .question .misc .view:before {position:absolute; top:50%; left:22px; width:22px; height:24px; margin-top:-12px; background:red; content:"";}
[data-faq] .answer {display:none; padding:30px 30px 40px 70px; background:#f4efe9;}
[data-faq] > li.on .answer {display:block;}
[data-faq] .answer i {top:24px;}
[data-faq] .answer .txt {font-size:16px; line-height:1.75em; color:#555;}
[data-faq] .answer .file {margin-top:110px;}
[data-faq] .answer .file li {padding-left:20px; position:relative;}
[data-faq] .answer .file li:before {position:absolute; top:2px; left:0; width:16px; height:18px; background:red; content:"";}
[data-faq] .answer .file li a {display:inline-block; font-size:14px; line-height:20px; color:#ca0464; text-decoration:underline;}

@media (max-width:1024px) {
	[data-faq] .cont i {top:9px; left:0; font-size:24px;}
	[data-faq] .question {padding:15px 140px 15px 30px;}
	[data-faq] .question .tit {font-size:16px;}
	[data-faq] .question .misc {top:14px; right:-15px;}
	[data-faq] .question .misc > li {padding:0 15px; font-size:12px;}
	[data-faq] .question .misc .view:before {left:15px;}
	[data-faq] .answer {padding:15px 30px;}
	[data-faq] .answer i {position:static;}
	[data-faq] .answer .txt {font-size:14px; line-height:1.5em;}
	[data-faq] .answer .file {margin-top:30px;}
	[data-faq] .answer .file li a {font-size:12px;}
}

@media (max-width:599px) {
	[data-faq] .cont i {display:none;}
	[data-faq] .question {padding:10px 0;}
	[data-faq] .question .tit {font-size:14px;}
	[data-faq] .question .misc {display:none;}
	[data-faq] .answer {padding:15px;}
	[data-faq] .answer .txt {font-size:12px;}
	[data-faq] .answer .file {margin-top:15px;}
}

/* 입력폼(게시물) */
[data-input-form]:after {display:block; clear:both; content:"";}
[data-input-form] table {border-top:3px solid #333;}
[data-input-form] th,
[data-input-form] td {height:60px; padding:10px 20px; border-bottom:1px solid #e8e5e2; vertical-align:middle;}
[data-input-form] tr:last-child th,
[data-input-form] tr:last-child td {border-color:#333;}
[data-input-form] th {background:#f4efe9; font-size:18px;}
[data-input-form] input[type='text'],
[data-input-form] input[type='password'] {width:260px;}
[data-input-form] .input_box {margin-bottom:-5px; font-size:0;}
[data-input-form] .input_box > * {margin-right:5px; margin-bottom:5px; vertical-align:top;}
[data-input-form] .input_box .ctr {height:40px; padding:0 15px; border:1px solid #333; font-size:16px; font-weight:700; -webkit-transition:all 0.3s; transition:all 0.3s;}
[data-input-form] .input_box .ctr.search {background:#333; color:#fff;}
[data-input-form] .input_box .ctr:hover {border-color:#a88f62; background:#a88f62; color:#fff;}
[data-input-form] .input_box .letter {display:inline-block; font-size:14px; line-height:40px;}
[data-input-form] .mail input[type='text'] {width:160px;}
[data-input-form] .tel .select_form {width:100px;}
[data-input-form] .tel .select_form button {min-width:0;}
[data-input-form] .tel input[type='text'] {width:80px;}
[data-input-form] textarea {height:450px;}
[data-input-form] .info_txt {margin-top:5px; padding:0.15em 0; font-size:14px; line-height:1.5em;}
[data-input-form] .ui-datepicker-trigger {width:25px; margin-left:10px; vertical-align:middle; cursor:pointer;}

@media (max-width:1024px) {
	[data-input-form] table,
	[data-input-form] table thead,
	[data-input-form] table tbody,
	[data-input-form] table tr,
	[data-input-form] table th,
	[data-input-form] table td {display:block; float:left; clear:both; width:100%; text-align:left;}
	[data-input-form] table {border-bottom:1px solid #333;}
	[data-input-form] table th,
	[data-input-form] table td {height:auto; padding:0; border:0; background:none; line-height:1.5em;}
	[data-input-form] table th {font-size:16px; padding:5px 0;}
	[data-input-form] table td {padding-bottom:5px;}
	[data-input-form] .info_txt {font-size:12px;}
	[data-input-form] .input_box .select_form {margin-right:5px;}
	[data-input-form] .input_box .ctr {padding:0 10px; font-size:14px;}
	[data-input-form] textarea {height:300px;}
}

@media (max-width:599px) {
	[data-input-form] input[type='password'],
	[data-input-form] input[type='text'] {width:100%;}
	[data-input-form] textarea {height:150px;}
}

@media (max-width:320px) {
	[data-input-form] .mail .select_form {width:100px;}	
}

/* 입력폼(회원가입) */
[data-input-form][data-input-join] table {border:0;}
[data-input-form][data-input-join] th,
[data-input-form][data-input-join] td {height:auto; padding:10px 0; text-align:left;}
[data-input-form][data-input-join] .option th,
[data-input-form][data-input-join] .option td {border-style:dashed;}
[data-input-form][data-input-join] th {background:none; font-size:16px; font-weight:500; vertical-align:top;}
[data-input-form][data-input-join] th label {line-height:40px; white-space:nowrap;}
[data-input-form][data-input-join] td {vertical-align:middle;}
[data-input-form][data-input-join] input[type='text'],
[data-input-form][data-input-join] input[type='password'] {width:200px;}

@media (max-width:1024px) {
	[data-input-form][data-input-join] th label {line-height:1.5em; font-weight:700;}
	[data-input-form][data-input-join] th {padding:5px 0;}
	[data-input-form][data-input-join] td {padding:0; padding-bottom:5px;}
}

@media (max-width:599px) {
	[data-input-form][data-input-join] input[type='text']:only-child,
	[data-input-form][data-input-join] input[type='password']:only-child {width:100%; margin-right:0;}
	[data-input-form][data-input-join] .mail input[type='text'] {width:130px;} 
	[data-input-form][data-input-join] .select_form {width:100%;}
}

/* 회원가입 */
.join .term_list {}
.join .term_list li {}
.join .term_list li .check_form {display:inline-block; vertical-align:middle;}
.join .term_list li .detail {display:inline-block; margin-left:12px; padding:0 20px; border:1px solid #333; font-size:12px; line-height:28px; vertical-align:middle;}
.join .term_list li label {font-size:16px;}

/*=========================================================
10. animate
=========================================================*/

/*!
 * animate.css -http://daneden.me/animate
 * Version - 3.7.0
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2018 Daniel Eden
 */

@-webkit-keyframes fadeInUp {
	0% {-webkit-transform:translate3d(0, 50px, 0); transform:translate3d(0, 50px, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:0;}
	100% {-webkit-transform:translate3d(0, 0, 0); transform:translate3d(0, 0, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:1;}
}

@keyframes fadeInUp {
	0% {-webkit-transform:translate3d(0, 50px, 0); transform:translate3d(0, 50px, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:0;}
	100% {-webkit-transform:translate3d(0, 0, 0); transform:translate3d(0, 0, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:1;}
}

@-webkit-keyframes fadeInDown {
	0% {-webkit-transform:translate3d(0, -50px, 0); transform:translate3d(0, -50px, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:0;}
	100% {-webkit-transform:translate3d(0, 0, 0); transform:translate3d(0, 0, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:1;}
}

@keyframes fadeInDown {
	0% {-webkit-transform:translate3d(0, -50px, 0); transform:translate3d(0, -50px, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:0;}
	100% {-webkit-transform:translate3d(0, 0, 0); transform:translate3d(0, 0, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:1;}
}

@-webkit-keyframes fadeInLeft {
	0% {-webkit-transform:translate3d(-50px, 0, 0); transform:translate3d(-50px, 0, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:0;}
	100% {-webkit-transform:translate3d(0, 0, 0); transform:translate3d(0, 0, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:1;}
}

@keyframes fadeInLeft {
	0% {-webkit-transform:translate3d(-50px, 0, 0); transform:translate3d(-50px, 0, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:0;}
	100% {-webkit-transform:translate3d(0, 0, 0); transform:translate3d(0, 0, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:1;}
}

@-webkit-keyframes fadeInRight {
	0% {-webkit-transform:translate3d(50px, 0, 0); transform:translate3d(50px, 0, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:0;}
	100% {-webkit-transform:translate3d(0, 0, 0); transform:translate3d(0, 0, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:1;}
}

@keyframes fadeInRight {
	0% {-webkit-transform:translate3d(50px, 0, 0); transform:translate3d(50px, 0, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:0;}
	100% {-webkit-transform:translate3d(0, 0, 0); transform:translate3d(0, 0, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:1;}
}

.fadeInUp {-webkit-animation-name:fadeInUp; animation-name:fadeInUp;}
.fadeInDown {-webkit-animation-name:fadeInDown; animation-name:fadeInDown;}
.fadeInLeft {-webkit-animation-name:fadeInLeft; animation-name:fadeInLeft;}
.fadeInRight {-webkit-animation-name:fadeInRight; animation-name:fadeInRight;}
.wait-animation {opacity:0; -webkit-animation-play-state:paused; animation-play-state:paused;}
.animated {-webkit-animation-duration:1s;animation-duration:1s; -webkit-animation-fill-mode:both; animation-fill-mode:both; opacity:1 \0/IE8+9 !important;}