@charset 'UTF-8';

/*=========================================================
1. 폰트
=========================================================*/

/* 본고딕 */
@font-face {
	font-family: "Noto Sans KR";
	font-weight: normal;
	font-style: normal;
	src: local("※"), 
	url("../fonts/notokr-regular.eot"), 
	url("../fonts/notokr-regular.eot?#iefix") format("embedded-opentype"),
	url("../fonts/notokr-regular.woff2") format("woff2"), 
	url("../fonts/notokr-regular.woff") format("woff");
}

@font-face {
	font-family: "Noto Sans KR";
	font-weight: 500;
	font-style: normal;
	src: local("※"), 
	url("../fonts/notokr-medium.eot"), 
	url("../fonts/notokr-medium.eot?#iefix") format("embedded-opentype"),
	url("../fonts/notokr-medium.woff2") format("woff2"), 
	url("../fonts/notokr-medium.woff") format("woff");
}

@font-face {
	font-family: "Noto Sans KR";
	font-weight: 700;
	font-style: normal;
	src: local("※"), 
	url("../fonts/notokr-bold.eot"), 
	url("../fonts/notokr-bold.eot?#iefix") format("embedded-opentype"),
	url("../fonts/notokr-bold.woff2") format("woff2"), 
	url("../fonts/notokr-bold.woff") format("woff");
}

@font-face {
	font-family: "Noto Sans KR";
	font-weight: 900;
	font-style: normal;
	src: local("※"), 
	url("../fonts/notokr-black.eot"), 
	url("../fonts/notokr-black.eot?#iefix") format("embedded-opentype"),
	url("../fonts/notokr-black.woff2") format("woff2"), 
	url("../fonts/notokr-black.woff") format("woff");
}

/*=========================================================
2. 리셋
=========================================================*/

html {font-size:1em; letter-spacing:-0.025em;}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video,button {-webkit-box-sizing:border-box;box-sizing:border-box; margin:0; padding:0; border:0; font-family:"Noto Sans KR",Dotum,"돋움",Helvetica,"Apple SD Gothic Neo",sans-serif; font-size:100%; vertical-align:baseline;}

input[type="text"],input[type="email"],input[type="number"],input[type="submit"],input[type="reset"],input[type="tel"],input[type="password"],input[type="url"],input[type="search"],input[type="file"],button,textarea {-webkit-box-sizing:border-box;box-sizing:border-box; margin:0; padding:0; border:none; border-radius:0; background:none; font-family:"Noto Sans KR",Dotum,"돋움",Helvetica,"Apple SD Gothic Neo",sans-serif; font-size:100%; letter-spacing:-0.04em; -webkit-appearance:none; -moz-appearance:none; appearance:none;}
body {position:relative; background:#fff; font-size:14px; line-height:1.8; color:#333; word-wrap:break-word; word-break:keep-all; -webkit-text-size-adjust:none; -moz-text-size-adjust:none;}
blockquote,q {quotes:none;}
table {width:100%; background:#fff; table-layout:fixed; border-spacing:0; border-collapse:collapse;}
ul,ol,li {list-style:none;}
a {color:#333; text-decoration:none;}
button::-moz-focus-inner {margin-top:-2px; margin-bottom:-2px; padding:0; border:0;}
input::-moz-focus-inner {margin-top:-2px; margin-bottom:-2px; padding:0; border:0;}
img {max-width:100%; height:auto;}
button {cursor:pointer; background:transparent;}
button span {position:relative;}
textarea {resize:none;}
textarea:focus {outline:none;}
em,address,i {font-style:normal;}
:focus {outline:none;}
:invalid {-webkit-box-shadow:none;box-shadow:none;}
:-moz-submit-invalid {box-shadow:none;}
:-moz-ui-invalid {box-shadow:none;}
label {cursor:pointer;}

/* PC, 모바일 제어 */
.pc {display:block !important;}
.mobile {display:none !important;}

@media (max-width:1024px) {
	.pc {display:none !important;}
	.mobile {display:block !important;}
}

/* Hidden */
.hidden {overflow:hidden; clip:rect(0 0 0 0); position:absolute; width:1px; height:1px; margin:-1px; padding:0; border:0;}

/* Placeholder */
::-webkit-input-placeholder {font-weight:400; color:#ccc;}
::-moz-placeholder {font-weight:400; color:#ccc;}
:-ms-input-placeholder {font-weight:400; color:#ccc;}
:-moz-placeholder {font-weight:400; color:#ccc;}

/* 워드프레스 테마 리셋 */
html {overflow-y:scroll; -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale;}
#buffer-extension-hover-button,.entry-footer,.skip-link,.post-edit-link,.screen-reader-text,.dropdown-toggle,.site-header svg,.menu-toggle,.submenu-expand,.mobile-parent-nav-menu-item,.main-menu-more {display:none !important;}
 
@media (max-width:599px) {
    #wpadminbar {position:fixed !important; top:0; left:0; z-index:1000;}
}

/*=========================================================
3. 공통 레이아웃
=========================================================*/

/* 레이아웃 */
.container {position:relative; max-width:1260px; margin:0 auto; padding:0 30px;}
.container.wide {max-width:1460px;}
.content {padding-top:150px;}

@media (max-width:1024px) {
	.content {padding-top:90px;}
}

@media (max-width:599px) {
	.container {padding:0 15px;}
	.content {padding-top:80px;}
}

/* TOP 버튼 */
.move_top {visibility:hidden; position:fixed; right:30px; bottom:100px; z-index:7; -webkit-transition:all 0.3s; transition:all 0.3s; opacity:0;}
.move_top.on {visibility:visible; bottom:110px; opacity:1;}
.move_top button {position:relative; width:30px; height:30px; border:1px solid #ca0464; background:#fff; line-height:1; text-align:center; text-indent:-9999px; -webkit-transition:all 0.3s; transition:all 0.3s;}
.move_top button:hover {background:#ca0464;}
.move_top button:before {position:absolute; top:5px; left:50%; width:0; height:0; margin-left:-6px; border-width:6px; border-style:solid; border-color:transparent transparent #ca0464 transparent; background:none; -webkit-transition:all 0.3s; transition:all 0.3s; content:"";}
.move_top button:hover:before {border-bottom-color:#fff;}

@media (max-width:599px) {
	.move_top {right:15px; bottom:50px;}
	.move_top.on {bottom:60px;}
}

/* 하위 브라우저 안내 */
.ie9 {display:table; position:fixed; bottom:0; left:0; z-index:999; width:100%; min-height:100px; padding:5px 60px; background:#000;; font-size:14px; line-height:2em; color:#fff; text-align:center;}
.ie9 .inner {display:table-cell; vertical-align:middle;}
.ie9 .inner a {font-size:16px; font-weight:700; color:#fff;}
.ie9 button {overflow:hidden; position:absolute; top:20px; right:20px; width:30px; height:30px; background:url(../img/sprite/sprite.png); background-position:-10px -258px; text-indent:-9999px;}

/* 셀렉트박스 */
.select_form {display:inline-block; position:relative; min-width:70px; background:#fff; font-size:14px; text-align:left;}
.select_form button {display:block; overflow:hidden; position:relative; width:100%; padding:0 25px 0 8px; border:1px solid #999; background:#fff; line-height:38px; color:#333; text-align:inherit; text-overflow:ellipsis; white-space:nowrap; -webkit-transition:border 0.3s; transition:border 0.3s;}
.select_form button:after {position:absolute; top:50%; right:14px; width:4px; height:4px; margin-top:-4px; border-right:1px solid #333; border-bottom:1px solid #333; -webkit-transform:rotate(45deg); transform:rotate(45deg); -webkit-transition:all 0.3s; transition:all 0.3s; content:"";}
.select_form button.on:after {margin-top:-2px; -webkit-transform:rotate(225deg); transform:rotate(225deg);}
.select_form ul {visibility:hidden; overflow:hidden; position:absolute; width:100%; height:0; padding:4px 15px; border:1px solid #e8e5e2; border-top:0; -webkit-transition:opacity 0.3s; transition:opacity 0.3s; opacity:0;}
.select_form button.on + ul {visibility:visible; overflow-y:auto; z-index:1; height:auto; max-height:200px; background:#fff; opacity:1;}
.select_form ul li a {display:block; padding:5px 0; line-height:18px; color:#666; -webkit-transition:all 0.3s; transition:all 0.3s;}
.select_form ul li a:hover {font-weight:700; color:#ca0464;}

/* 컨텐츠 박스, 제목, 들여쓰기 */
[data-content-box] + [data-content-box] {margin-top:40px;}
[data-content-box]:last-of-type {margin:0;}
[data-content-box] .cont_tit {margin-bottom:20px; font-size:30px; font-weight:500; line-height:1.3em;}
[data-content-box] .sub_tit {margin-top:20px; margin-bottom:7px; font-size:16px; font-weight:700; line-height:1.5em; color:#555;}
[data-content-box] .indent {padding-left:20px;}

@media (max-width:1024px) {
	[data-content-box] + [data-content-box] {margin-top:30px;}
	[data-content-box] .cont_tit {padding-bottom:15px; font-size:24px;}
}

@media (max-width:599px) {
	[data-content-box] .cont_tit {font-size:18px;}
	[data-content-box] .sub_tit {font-size:14px;}
}

/* 데이터 테이블 */
[data-table] {border:1px solid #ccc;}
[data-table] table {width:100%; max-width:100%; font-size:16px; line-height:1.5em;}
[data-table] table th,
[data-table] table td {height:40px; padding:0 20px; border-right:1px solid #ccc; border-bottom:1px solid #ccc; text-align:center; vertical-align:middle;}
[data-table] table th {background:#ccc; border-color:#fff; letter-spacing:0.05em;}
[data-table] table tr:last-child th,
[data-table] table tr:last-child td {border-bottom:0;}
[data-table] table tr th:last-child,
[data-table] table tr td:last-child {border-right:0;}
[data-table] table thead tr:last-child th {border-bottom:1px solid #fff;}
[data-table] table td.left {text-align:left;}

@media (max-width:1024px) {
	[data-table] table {font-size:14px;}
	[data-table] table th,
	[data-table] table td {height:auto; padding:8px 10px;}
}

@media (max-width:599px) {
	[data-table] table {font-size:12px;}
	[data-table] table th,
	[data-table] table td {padding:5px;}
}

/* 데이터 입력폼 */
[data-table][data-input]:after {display:block; clear:both; content:"";}
[data-table][data-input] input[type="text"] {height:2em; padding-left:0; line-height:2em;}
[data-table][data-input] .cmt {display:inline-block; padding:0.25em 0; font-size:14px; color:#ca0464;}
[data-table][data-input] .cmt:before {content:"*";}
[data-table][data-input] .status {display:inline-block; margin-left:20px;}
[data-table][data-input] .pass .cmt:before {content:"";}
[data-table][data-input] button {width:70px; margin-left:20px; border:1px solid #ca0464; font-size:14px; line-height:2em; color:#ca0464; -webkit-transition:all 0.3s; transition:all 0.3s;}

@media (max-width:1024px) {
	[data-table][data-input] .cmt,
	[data-table][data-input] .status {display:block; margin:0;}
	[data-table][data-input] button {margin:0;}
}

@media (max-width:599px) {
	[data-table][data-input] table,
	[data-table][data-input] thead,
	[data-table][data-input] tbody,
	[data-table][data-input] tr,
	[data-table][data-input] th,
	[data-table][data-input] td {display:block; float:left; clear:both; width:100%; border:0; text-align:left;}
	[data-table][data-input] .cmt,
	[data-table][data-input] button {font-size:12px;}
}

/* 리스트 및 강조 */
[data-list] > li {position:relative; font-size:16px; font-weight:400; line-height:1.5em;}
[data-list] > li:before {position:absolute; left:0; content:"";}
[data-list] > li .ps {margin-left:0.5em; font-size:0.875em; color:#ca0464;}
[data-list] > li .ps:before {margin-right:0.3em; content:"※";}
[data-list].type1 > li {padding-left:10px;}
[data-list].type1 > li:before {top:0.75em; width:4px; height:1px; background:#333;}
[data-list].type2 > li {padding-left:1em; text-indent:-1em;}
[data-list].type3 > li {padding-left:0.75em; font-size:14px; line-height:1.7em; text-indent:-0.75em;}
[data-list].footnote {margin-top:10px;}
[data-list].footnote > li {font-size:14px; line-height:1.7em; color:#ca0464;}
[data-list] [data-list] {margin:5px 0;}

@media (max-width:1024px) {
	[data-list] > li {font-size:14px !important; line-height:1.5em !important;}
	[data-list].type1 > li:before {top:0.6em;}
}

@media (max-width:599px) {
	[data-list] > li {font-size:12px !important;}
}

/* 안내 박스 */
[data-info-box] {display:table; width:100%; padding:15px 20px; background:#f9f7f5; max-width:100%; table-layout:fixed;}
[data-info-box] > li {display:table-cell;}
[data-info-box] .sub_tit {margin-top:0;}
[data-info-box] [data-list] > li {font-size:14px;}
[data-info-box] [data-list].type1 > li:before {top:0.6em;}
[data-info-box].multi > li {padding-right:35px; border-right:1px solid #999;}
[data-info-box].multi > li:not(:first-child) {padding:0; padding-left:35px; border:0;}
[data-info-box] .alert {font-size:16px; font-weight:500; line-height:1.5em; color:#ca0464; margin-top:10px;}

@media (max-width:1024px) {
	[data-info-box] {padding:15px;}
	[data-info-box],
	[data-info-box] > li {display:block; width:100% !important;}
	[data-info-box].multi > li {padding:0 !important; border:0;}
	[data-info-box].multi > li + li {margin-top:10px;}
	[data-info-box] .alert {font-size:14px;}
}

@media (max-width:599px) {
	[data-info-box] .alert {font-size:12px;}
}

/* 하단 버튼 */
[data-ctr-btn] {margin-top:60px; font-size:0; text-align:center;}
[data-ctr-btn].single {margin:0;}
[data-ctr-btn] a,
[data-ctr-btn] button {display:inline-block; min-width:180px; margin:0 5px; padding:0 10px; border:0; border-radius:0; background:#666; font-size:14px; line-height:40px; color:#fff; -webkit-transition:all 0.3s; transition:all 0.3s;}
[data-ctr-btn] button[type="submit"] {background:#ca0464;}

@media (max-width:1024px) {
	[data-ctr-btn] {margin-top:30px;}
	[data-ctr-btn] a,
	[data-ctr-btn] button {min-width:120px;}
}

@media (max-width:599px) {
	[data-ctr-btn] a,
	[data-ctr-btn] button {min-width:80px; line-height:30px;}
}

/*=========================================================
4. 헤더
=========================================================*/

header {position:fixed; top:0; left:0; width:100%; height:150px; padding-top:55px; border-bottom:1px solid #efefef; background:#fff; z-index:5;}
.header_wrap {position:relative;}
.header_wrap h1 a {display:inline-block; line-height:0;}
.header_wrap h1 .txt {display:inline-block; margin-top:18px; margin-left:20px; font-size:24px; font-weight:400; line-height:1.5em; vertical-align:top;}
.header_wrap .link {position:absolute; top:10px; right:0; padding:0 15px; border:1px solid #bba078; font-size:16px; line-height:2.5em; color:#bba078; -webkit-transition:all 0.3s; transition:all 0.3s;}
.header_wrap .link:hover {background:#bba078; color:#fff;}

@media (max-width:1024px) {
	header {padding-top:30px; height:90px;}
	.header_wrap h1 img {height:31px;}
	.header_wrap h1 .txt {font-size:16px; margin-top:6px; margin-left:5px;}
	.header_wrap .link {font-size:12px; top:0; padding:0 5px;}
}

@media (max-width:599px) {
	.header_wrap h1 .txt {margin-top:8px; font-size:12px;}
}

@media (max-width:359px) {
	header {padding-top:15px; height:80px;}
	.header_wrap h1 .txt {display:block; margin:0; margin-top:3px;}
}

/* 워드프레스 관리자 헤더 커스터마이징 */
.admin-bar header {top:32px;}

@media (max-width:782px) {
	.admin-bar header {top:46px;}
}

/*=========================================================
5. 푸터
=========================================================*/

footer .bottom_list {background:#bba078;}
footer .bottom_list ul {overflow:hidden; margin-left:-20px; padding:15px 0; font-size:0;}
footer .bottom_list ul li {display:inline-block; position:relative; padding:0 20px;}
footer .bottom_list ul li:after {position:absolute; top:50%; right:0; width:1px; height:14px; margin-top:-8px; background:#fff; opacity:0.4; content:"";}
footer .bottom_list ul li:last-child:after {display:none;}
footer .bottom_list ul li a {display:block; font-size:14px; line-height:1.5em; color:#fff; -webkit-transition:all 0.3s; transition:all 0.3s;}
footer .bottom_list ul li a:hover {color:#71542a;}
footer .bottom_list ul li.personal a {font-weight:700; color:#71542a;}
footer .footer_wrap {padding:20px 0;}
footer .footer_wrap img {float:left; height:40px; margin-top:5px; margin-right:70px;}
footer .footer_wrap .info {overflow:hidden; line-height:2em; font-size:12px;}
footer .footer_wrap .info dl {overflow:hidden; color:#ac8e63; margin-left:-20px;}
footer .footer_wrap .info dl > div {display:inline-block; position:relative; padding:0 20px;}
footer .footer_wrap .info dl > div:after {position:absolute; top:50%; right:0; width:1px; height:12px; margin-top:-7px; background:#ded2c1; opacity:0.4; content:"";}
footer .footer_wrap .info dl > div:last-child:after {display:none;}
footer .footer_wrap .info dt,
footer .footer_wrap .info dd {display:inline-block;}
footer .footer_wrap .info dt {font-weight:700;} 
footer .footer_wrap .info dt:after {content:":"; padding:0 0.5em;}
footer .footer_wrap .info dd a {color:inherit;}
footer .footer_wrap .info .copyright {color:#ccc;}

@media (max-width:1024px) {
	footer .footer_wrap {padding:15px 0;}
	footer .footer_wrap img {margin-right:30px;}
	footer .footer_wrap .info {line-height:1.75em;}
	footer .footer_wrap .info dl {margin-left:-10px;}
	footer .footer_wrap .info dl > div {padding:0 10px;}
	footer .footer_wrap .info .copyright {font-size:10px; line-height:1.5em;}
}

@media (max-width:599px) {
	footer .bottom_list ul {margin-left:-10px; padding:10px 0;}
	footer .bottom_list ul li {padding:0 10px;}
	footer {text-align:center;}
	footer .footer_wrap img {display:block; float:none; margin:0 auto; margin-bottom:15px;}
	footer .footer_wrap .info {line-height:1.5em;}
	footer .footer_wrap .info dl > div:after {display:none;}
}

/*=========================================================
6. 페이지 스타일
=========================================================*/

/* 서브 비주얼 */
[data-visual] {display:table; width:100%; height:300px; text-align:center; color:#fff; background:url(../img/bg/bg_subvisual.jpg) center; background-size:cover;}
[data-visual] .txt_wrap {display:table-cell; vertical-align:middle; font-size:30px; line-height:1.3em; padding:0 30px;}

@media (max-width:1024px) {
	[data-visual] {height:200px;}
	[data-visual] .txt_wrap {font-size:24px;}
}

@media (max-width:599px) {
	[data-visual] {height:150px;}
	[data-visual] .txt_wrap {font-size:18px; padding:0 15px;}
	[data-visual] .txt_wrap br {display:none;}
}

/* 합격 결과 테이블 */
[data-result] {overflow:hidden;}
[data-result] .visual {float:left; width:50%;}
[data-result] .visual .txt_wrap {display:table; width:100%; height:500px; background:url(../img/bg/bg_result_visual.jpg) center; background-size:cover; color:#fff; text-align:center;}
[data-result] .visual .txt_wrap .txt {display:table-cell; vertical-align:middle; padding:0 30px;}
[data-result] .visual .txt_wrap .pass_msg {font-size:0; font-weight:500;}
[data-result] .visual .txt_wrap .pass_msg span {display:inline-block; font-size:80px; line-height:1em;}
[data-result] .visual .txt_wrap .msg {font-size:30px; font-weight:500; line-height:1.3em;}
[data-result] .visual .txt_wrap .sub_msg {position:relative; margin-top:20px; padding-top:15px; font-size:20px; line-height:1.5em;}
[data-result] .visual .txt_wrap .sub_msg:before {position:absolute; top:0; left:50%; width:30px; height:1px; margin-left:-15px; background:#fff; opacity:0.6; content:"";}
[data-result] .result {float:left; width:50%; height:500px; background:#f3f1ee; text-align:center;}
[data-result] .result .table_wrap {display:table; width:100%; height:100%;}
[data-result] .result .table {display:table-cell; width:100%; vertical-align:middle;}
[data-result] .result dl {max-width:570px; margin:0 auto; padding:0 30px;}
[data-result] .result dl > div {overflow:hidden;}
[data-result] .result dt,
[data-result] .result dd {float:left; line-height:80px; padding:0 30px; border-bottom:1px solid #ccc;}
[data-result] .result dt {width:190px; border-color:#cfb493; background:#bba078; font-size:18px; font-weight:700; color:#fff;}
[data-result] .result dt span {display:inline-block; width:80px; letter-spacing:0.1em;}
[data-result] .result dt span.wide {letter-spacing:1.5em; padding-left:0.5em;}
[data-result] .result dd {width:calc(100% - 190px); background:#fff; font-size:16px; text-align:left;}
[data-result] .result dd .status {font-weight:700; color:#ca0464;}
[data-result] .result dl > div:last-child dt,
[data-result] .result dl > div:last-child dd {border:0;}
[data-result] .result ul {max-width:570px; margin:0 auto; margin-top:20px; padding:0 20px; font-size:0;}
[data-result] .result ul li {display:inline-block; width:33.33%; padding:0 10px;}
[data-result] .result ul li a {display:block; border:1px solid #ca0464; background:#fff; font-size:16px; line-height:3em; color:#ca0464; white-space:nowrap; -webkit-transition:all 0.3s; transition:all 0.3s;}
[data-result] .result ul li a:hover {background:#ca0464; color:#fff;}

@media (max-width:1024px) {
	[data-result] .visual,
	[data-result] .result {float:none; width:100%;}
	[data-result] .visual .txt_wrap {height:250px;}
	[data-result] .visual .txt_wrap .pass_msg span {font-size:40px;}
	[data-result] .visual .txt_wrap .msg {font-size:24px;}
	[data-result] .visual .txt_wrap .sub_msg {font-size:18px;}
	[data-result] .result {height:auto; padding:30px 0;}
	[data-result] .result dt, 
	[data-result] .result dd {line-height:50px;}
	[data-result] .result dt {font-size:16px;}
	[data-result] .result dt span.wide {padding-left:0.7em;}
	[data-result] .result dd {font-size:14px;}
	[data-result] .result ul li a {font-size:14px; line-height:2.5em;}
}

@media (max-width:599px) {
	[data-result] .visual .txt_wrap {height:200px;}
	[data-result] .visual .txt_wrap .txt {padding:0 15px;}
	[data-result] .visual .txt_wrap .pass_msg span {font-size:32px;}
	[data-result] .visual .txt_wrap .msg {font-size:18px;}
	[data-result] .visual .txt_wrap .sub_msg {font-size:16px;}
	[data-result] .visual .txt_wrap br {display:none;}
	[data-result] .result dl {padding:0 15px;}
	[data-result] .result dt, 
	[data-result] .result dd {padding:0 10px; line-height:40px;}
	[data-result] .result dt {width:100px; font-size:14px;}
	[data-result] .result dt span.wide {padding-left:1.1em;}
	[data-result] .result dd {width:calc(100% - 100px);}
	[data-result] .result ul {margin-top:15px; margin-bottom:-15px; padding:0 15px;}
	[data-result] .result ul li {width:100%; margin-bottom:15px; padding:0;}
}

/* 서브 페이지 컨텐츠 */
[data-sub-content] {padding:50px 0 100px 0;}

@media (max-width:1024px) {
	[data-sub-content] {min-height:750px; padding:30px 0 50px 0;}
}

@media (max-width:599px) {
	[data-sub-content] {min-height:400px;}
}

/* 합격자 발표 조회 입력폼 */
[data-result-form] {max-width:400px; margin:60px auto 0;}
[data-result-form] .tit {margin-bottom:20px; font-size:40px; font-weight:500; line-height:1.5em; text-align:center;}
[data-result-form] .tab_menu {overflow:hidden;}
[data-result-form] .tab_menu li {float:left; width:50%;}
[data-result-form] .tab_menu li button {width:100%; border:3px solid #ccc; background:#fff; font-size:18px; font-weight:500; line-height:44px;}
[data-result-form] .tab_menu li:first-child button {border-right:0;}
[data-result-form] .tab_menu li:last-child button {border-left:0;}
[data-result-form] .tab_menu li.on button {background:#bba078; border-color:#bba078; color:#fff;}
[data-result-form] .tab_cont {padding:30px; padding-bottom:20px; border:3px solid #ccc; border-top:0;}
[data-result-form] .tab_cont dl > div:after {display:block; clear:both; content:"";}
[data-result-form] .tab_cont dt {float:left; position:relative; width:100px; padding-left:20px; font-size:18px; font-weight:500; line-height:40px;}
[data-result-form] .tab_cont dt .wide {letter-spacing:1.75em;}
[data-result-form] .tab_cont dt:before {position:absolute; top:50%; left:0; width:10px; height:5px; margin-top:-4px; background:#ca0464; content:"";}
[data-result-form] .tab_cont dd {float:left; position:relative; width:calc(100% - 100px); padding-bottom:30px; font-size:0;}
[data-result-form] .tab_cont dd .input_wrap {display:inline-block; position:relative; width:100%; padding:5px 0 4px; border-bottom:1px solid #999; font-size:14px;}
[data-result-form] .tab_cont dd .input_wrap input[type="text"],
[data-result-form] .tab_cont dd .input_wrap input[type="password"] {width:100%; height:30px; padding:0 3px; line-height:30px;}
[data-result-form] .tab_cont dd .input_wrap span {position:absolute; top:50%; right:0; font-weight:500; -webkit-transform:translateY(-50%); transform:translateY(-50%);}
[data-result-form] .tab_cont dd .alert {display:none; position:absolute; bottom:0; left:0; margin:5px 0; font-size:12px; line-height:1.5em; color:#ca0464;}
[data-result-form] .tab_cont dd .birthday {vertical-align:top;}
[data-result-form] .tab_cont dd .birthday .select_form {margin:0 15px;}

@media (max-width:1024px) {
	[data-result-form] {margin-top:30px;}
	[data-result-form] .tit {margin-bottom:15px; font-size:24px;}
	[data-result-form] .tab_menu li button {border-width:2px; font-size:16px; line-height:36px;}
	[data-result-form] .tab_cont {padding:15px; border-width:2px;}
	[data-result-form] .tab_cont dt {font-size:16px;}
}

@media (max-width:599px) {
	[data-result-form] .tit {font-size:20px;}
	[data-result-form] .tab_menu li button {border-width:1px; line-height:33px;}
	[data-result-form] .tab_cont {border-width:1px;}
	[data-result-form] .tab_cont dt,
	[data-result-form] .tab_cont dd {float:none; width:100%;}
	[data-result-form] .tab_cont dt {line-height:1.5em;}
	[data-result-form] .tab_cont dt .wide {letter-spacing:-0.025em;}
}

/*=========================================================
7. animate
=========================================================*/

/*!
 * animate.css -http://daneden.me/animate
 * Version - 3.7.0
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2018 Daniel Eden
 */

@-webkit-keyframes fadeInUp {
	0% {-webkit-transform:translate3d(0, 50px, 0); transform:translate3d(0, 50px, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:0;}
	100% {-webkit-transform:translate3d(0, 0, 0); transform:translate3d(0, 0, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:1;}
}

@keyframes fadeInUp {
	0% {-webkit-transform:translate3d(0, 50px, 0); transform:translate3d(0, 50px, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:0;}
	100% {-webkit-transform:translate3d(0, 0, 0); transform:translate3d(0, 0, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:1;}
}

@-webkit-keyframes fadeInLeft {
	0% {-webkit-transform:translate3d(-50px, 0, 0); transform:translate3d(-50px, 0, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:0;}
	100% {-webkit-transform:translate3d(0, 0, 0); transform:translate3d(0, 0, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:1;}
}

@keyframes fadeInLeft {
	0% {-webkit-transform:translate3d(-50px, 0, 0); transform:translate3d(-50px, 0, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:0;}
	100% {-webkit-transform:translate3d(0, 0, 0); transform:translate3d(0, 0, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:1;}
}

@-webkit-keyframes fadeInRight {
	0% {-webkit-transform:translate3d(50px, 0, 0); transform:translate3d(50px, 0, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:0;}
	100% {-webkit-transform:translate3d(0, 0, 0); transform:translate3d(0, 0, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:1;}
}

@keyframes fadeInRight {
	0% {-webkit-transform:translate3d(50px, 0, 0); transform:translate3d(50px, 0, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:0;}
	100% {-webkit-transform:translate3d(0, 0, 0); transform:translate3d(0, 0, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:1;}
}

.fadeInUp {-webkit-animation-name:fadeInUp; animation-name:fadeInUp;}
.fadeInLeft {-webkit-animation-name:fadeInLeft; animation-name:fadeInLeft;}
.fadeInRight {-webkit-animation-name:fadeInRight; animation-name:fadeInRight;}
.wait-animation {opacity:0; -webkit-animation-play-state:paused; animation-play-state:paused;}
.animated {-webkit-animation-duration:1s;animation-duration:1s; -webkit-animation-fill-mode:both; animation-fill-mode:both; opacity:1 \0/IE8+9 !important;}